.jumbotron.thirdeye{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/3rd-eye/3rd-eye-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;

}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.thirdeye .image-caption{
  padding-top: 0;
}

.thirdeye .image-caption h1{
  color: $tertiary-color;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 80px;
}

.third-eye-top-content-background{
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  background-size: contain;
  padding-top: 130px;
  text-align: justify;
}

.third-eye-top-content-background h2{
  text-transform: capitalize;
}

.third-eye-top-content-background img{
   width: 100%;
}
