.jumbotron-banner.about{
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/02.about-us/about-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover;
}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.about-top-map-content{
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/02.about-us/about-bg-map.jpg") no-repeat;
  background-attachment: fixed;
}

.about-us-content h1{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  color: #333;
  padding: 0 0 50px;
  margin-top: 0;
}


.about-us-excitment{
  background: $primary-color;
  padding-top: 3%;
  padding-bottom: 3%;
  color: $tertiary-color;
}

.about-us-fusion{
  padding-top: 3%;
  padding-bottom: 3%;
}

.about-us-excitment h2, .about-us-fusion h2, .about-us-possible h2, .about-us-certifications h2, .about-us-financial h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 30px;
}

.about-us-content{
  padding: 70px 0;
}

.about-us-possible{
  padding: 100px 0;
  background: url("../../../pages/02.about-us/about-us-bg-bottom.jpg") no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  color: $tertiary-color;
  margin-bottom: 0;
  text-shadow: 1px 1px #000;
  position: relative;
  background-position-x: 50% !important;
}

.about-us-possible h3{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.about-us-possible h4{
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
}

.about-us-certifications{
  margin-bottom: 0;
  padding: 50px 0;
  background-size: cover !important;
  background: url("../../../pages/02.about-us/about-bg-bottom-map.jpg") no-repeat;
  background-position: center top;
}

.about-us-financial{
  padding: 50px 0;
}

.about-us-financial img{
  position: relative;
  bottom: 13px;
}
