.jumbotron.arena-challenge{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/arena-challenge/arena-challenge-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position-x: 0 !important;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.jumbotron.arena-challenge .container{
  top: 50%;
}

.arena-challenge .image-caption h1{
  color: $tertiary-color;
  text-shadow: 2px 2px #000;
  padding-top: 5%;
  font-size: 60px;
}

.arena-challenge .image-caption img{
  width: 250px;
}

.arena-top-content-background{
  background: url("../../../pages/arena-challenge/arena-challenge-bg-icon.png") no-repeat;
  background-attachment: fixed;
  background-position-x: 100% !important;
  padding:  0 0 100px;
}

.arena-top-content-background h2, .arena-top-content-background h3{
  text-align: center;
  text-transform: uppercase;
}

.arena-top-content-background h2{
  font-size: 40px;
  color: #aa0000;
  margin-top: 87px;
}

.arena-top-content-background h3{
  font-size: 30px;
  color: #494949;
  margin-bottom: 60px;
}

.arena-top-content-background p{
  text-align: justify;
}

.video-container.top iframe{
  height: 920px;
}

.video-container iframe{
  width: 100%;
  -webkit-overflow-scrolling:touch;
  overflow: auto;
}

.arena-tutorials .video-container p{
  color: #626262;
  font-size: 18px;
  text-shadow: none;
}

.arena-features{
  padding: 60px 0 40px;
}

.arena-features .row{
  margin-top: 15px;
}

.arena-features img{
  width: 150px;
  @include center;
}

.arena-features h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #454545;
}

.arena-features p{
  text-align: justify;
  font-size: 17px;
  color: #454545;
}

.arena-features li{
  font-size: 20px;
  color: #454545;
}

.arena-features-list ul{
  margin-top: 60px;
  list-style-type: none;
}

.arena-features-list li{
  margin-bottom: 20px;
}

.arena-features-list img{
  width: 15px;
  display: initial;
  vertical-align: baseline;
  margin-right: 15px;
}

.arena-features-list .third-column li{
  margin-bottom: 10px;
}

.arena-tutorials .video-container.top{
  text-align: center;
  margin-bottom: 40px;
}

.arena-tutorials{
  background: #9c0002;
  padding: 0 0 40px;
}

.arena-tutorials .page-curl{
  float: right;
}

.arena-tutorials h2{
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 78px;
  margin-bottom: 72px;
}



.arena-tutorials p{
  color: #fff;
  font-size: 18px;
}

.arena-tutorials .black.btn-primary{
  float: right;
  padding: 4px 16px;
  margin-top: 40px;
  margin-right: 40px;
}


video {
  min-height: 100%;
  width: 100%;
  height: auto;
  //background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
  left: 0;
  right: 0;
}
.stopfade {
  opacity: .5;
}

//@media screen and (max-width: 500px) {
//  div{width:70%;}
//}
//@media screen and (max-device-width: 800px) {
//  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
//  #bgvid { display: none; }
//}