.careers-pages-content{
  margin-top: 70px;
  text-transform: capitalize;
  font-size: 50px;
}

.careers-pages-content h1, .careers-pages-content h4{
  margin: 30px 0;
}

.careers-pages-content h4{
  font-size: 26px;
  text-transform: initial;
}

.careers-pages-content .fa-angle-left{
  float: left;
}

.careers-pages-content .fa-angle-right{
  float: right;
}
