.jumbotron-banner.careers{
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/05.careers/careers-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover;
}

.careers-content{
  padding: 40px 0;
  margin-top: 0;
}

.careers-content h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: #333;
  margin-bottom: 30px;
}

.careers-content h2{
  text-align: center;
  text-transform: capitalize;
  font-size: 26px;
}

.careers-content img{
  width: 100%;
}

.careers-content p{
  float: right;
  font-size: 16px;
}

.careers-content a{
  color: #333;
}

.careers-content .fa{
  padding-left: 10px;
}