.jumbotron-banner.contact{
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/06.contact/contact-banner.jpg") no-repeat;
  height: 327px;
  background-size: cover;
}

.contact-content{
  padding: 40px 0;
  background: center url("../../../pages/06.contact/contact-background.jpg") no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
}

.contact-content p{
  font-size: 16px;
}

.contact-content .image-wrap img{
  width: 100%;
}

.contact-content .col-md-4{
  padding: 0;
}

.contact-content .image-title, .contact-content .image-caption{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: $tertiary-color;
  text-shadow: 1px 1px 2px #000;
  font-size: 27px;
}

.contact-content .image-title{
  top: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.contact-content .image-caption{
  bottom: 105px;
}

.contact-content .image-caption p{
  font-size: 13px;
  padding: 0;
}

.contact-content h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: #333;
  margin-bottom: 100px;
}

#contact-form form{
  font-family: Roboto Condensed, sans-serif;
}

#contact-form .button, input, select, textarea{
  width: 50%;
  margin-bottom: 15px;
  border: 1px solid grey;
}

#contact-form textarea{
  width: 60%;
  height: 135px;
}

#contact-form .black.btn-primary{
  margin-bottom: 40px;
}

.careers-content p{
  float: right;
}

.careers-content .fa{
  padding-left: 10px;
}

.thank-you-message{
  margin-top: 7%;
}