/* Variables */

$primary-color: #833089;
$secondary-color: #192239;
$tertiary-color: #fff;
$transition:  all 0.5s ease;

/* Mixins */

@mixin center{
  margin: 0 auto;
  display: block;
}

@mixin trans-decor{
  transition: $transition;
  text-decoration: none;
}

@mixin back-bord{
  background: none;
  border: none;
}

/* Custom Media Queries */

$mobile: "(max-width: 480px)";
$tablet: "(max-width: 767px)";
$mCustom: "(max-width: 992px)";
$desktop: "(max-width: 1024px)";
$large: "(max-width: 1200px)";
$extra-large: "(max-width: 1700px)";

/* Global Styles */

html{
  overflow: auto !important;
}

body{
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0;
}

p{
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 27px;
  padding: 0 0 0.8em;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

ul, li{
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  text-transform: initial;
}

b, strong{
  color: #333;
}

a:focus{
  outline: none;
}

a, .fa{
  transition: $transition;
}

a:hover, .fa:hover{
  color: $primary-color;
  transition: $transition;
  text-decoration: none;
}
