@import "directives";

/* PRE FOOTER Section */

.footer-widgets{
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-widgets h4{
  margin: 20px 0;
  text-align: center;
  color: $tertiary-color;
  text-transform: uppercase;
  font-weight: 300;
}

.footer-logo{
  width: 70%;
}

.footer-widgets img{
  margin: 0 auto;
  display: block;
}

.footer-widgets .form{
  text-align: center;
}

.footer-widgets .newsletter-email{
  width: 50%;
  margin: 40px auto;
}

img.go-footer{
  display: inline-block;
  margin: 0 auto;
  transition: $transition;
}

img.go-footer:hover{
  opacity: 0.5;
  transition: $transition;
}

.footer-widgets li{
  display: inline;
  text-transform: uppercase;
  font-size: 11px;
  color: $tertiary-color;
  font-family: Roboto Condensed, sans-serif;
  list-style-type: none;
  font-weight: 100;
  padding: 0px 4px;
}

.footer-widgets li a{
  color: $tertiary-color;
  transition: $transition;
  text-decoration: none;
}

.footer-widgets li a:hover{
  color: $primary-color;
  transition: $transition;
}

footer ul{
  margin-top: 10px;
  padding-left: 0;
  text-align: center;
}

.social-container{
  text-align: center;
}

ul.footer-social-icons{
  padding-left: 0;
}

.footer-social-icons li{
  font-size: 27px;
  padding-right: 18px;
  display: inline-block;
  float: inherit;
}

.footer-social-icons li a{
  color: white;
  transition: $transition;
}

.fa{
  transition: $transition;
}

.fa-facebook:hover{
  color: #3b5998;
}

.fa-twitter:hover{
  color: #0084b4;
}

.fa-google-plus:hover{
  color: #d34836;
}

.fa-youtube:hover{
  color: #bb0000;
}

.fa-linkedin:hover{
  color: #0e76a8;
}


.footer-header{
  background: $primary-color;
  height: 145px;
}

.service-container h4{
  color: $tertiary-color;
  text-transform: uppercase;
  margin-top: 45px;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 1.5px;
  text-align: center;
}

.footer-header p{
  border-bottom: 1px solid #333;
  text-align: right;
  font-size: 21px;
  padding-right: 21px;
}

.footer-header a{
  color: #333;
  transition: $transition;
}

.footer-header a:hover{
  color: $tertiary-color;
  @include trans-decor;
}

footer{
  background: black;
}

#mc_embed_signup .mc-field-group label{
  color: #fff;
  font-weight: 300;
}

#mc_embed_signup{
  background: #000 !important;
  transition: $transition;
}

#mc_embed_signup h2{
  display: none;
}

#mc_embed_signup .button{
  color: #000 !important;
  background: #fff !important;
}

#mc_embed_signup .button:hover {
  background-color: $primary-color !important;
  color: $tertiary-color !important;
  transition: $transition;
}

#mc_embed_signup form{
  padding: 0 !important;
}

#mc_embed_signup .indicates-required{
  position: relative;
  top: 20px;
}
