.jumbotron.gaming-platform{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/gaming-platform/gaming-platform.bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position-y: 45% !important;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.jumbotron.gaming-platform .container{
  top: -25px;
}

.jumbotron .gaming-platform h1{
  padding-top: 0;
}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.gaming-platform .image-caption h1{
  color: $tertiary-color;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0;
}

.develop-to-innovate{
  background: #201827;
  padding: 80px 0;
  text-align: justify;
  color: $tertiary-color;
}

.develop-to-innovate h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px;
  text-shadow: 1px 1px 2px #333;
}

.develop-to-innovate h3{
  color: #333;
  text-transform: uppercase;
  margin: 30px 0;
}

.website{
  background-color: #F4F5F7;
  height: 85vh;
  color: #333;
}

.website h2{
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  font-size: 40px;
  margin: 100px 0 80px;
}

.website p{
  margin-top: 70px;
}

.powerfull-back-office{
  padding-bottom: 70px;
  background-color: #E5E9EC;
  background-size: cover;
  height: 85vh;
  color: #333;
}

.powerfull-back-office h2{
  margin: 100px 0 80px;
  color: #454545;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.powerfull-back-office ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

.powerfull-back-office img{
  position: absolute;
  top: -60px;
  right: -130px;
}

.business-intelligence{
  background: #542E61;
  color: #e4e5e6;
  padding: 90px 0;
}

.business-intelligence li, .website li, .powerfull-back-office li{
  font-size: 18px;
}

.business-intelligence ul, .website ul, .powerfull-back-office ul{
  list-style: none;
}

.business-intelligence ul li:before, .website ul li:before, .powerfull-back-office ul li:before {
  content: "•";
  font-size: 175%;
  padding-right: 5px;
  position: relative;
  top: 4px;
}

.business-intelligence h2{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 60px;
  text-shadow: 1px 1px 2px #333;
}

// Games Module

.gaming-module{
  background-color: #f4f5f6 !important;
  background: url("../../../pages/gaming-platform/characters.png") no-repeat;
  padding: 80px 0 20px;
  text-align: justify;
  color: #333;
}

.gaming-module h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px;
}

.gaming-module .casino-logos{
  margin-top: 40px;
}

.casino-logo{
  display: inline-block;
  -webkit-filter: grayscale(100%);
  transition: $transition;
  background-position-x: 50% !important;
  width: 124px;
  min-height: 80px;
}

.casino-logo:hover{
  -webkit-filter: grayscale(0);
  transition: $transition;
}


.casino-logo.betgamestv{
  background: url("../../../pages/gaming-platform/betgamestv.png") no-repeat;
}

.casino-logo.one-two{
  background: url("../../../pages/gaming-platform/one-two.png") no-repeat;
}

.casino-logo.betsoft{
  background: url("../../../pages/gaming-platform/betsoft.png") no-repeat;
}

.casino-logo.endorphina{
  background: url("../../../pages/gaming-platform/endorphina.png") no-repeat;
}

.casino-logo.evolution {
  background: url("../../../pages/gaming-platform/evolution.png") no-repeat;
}

.casino-logo.ezugi{
  background: url("../../../pages/gaming-platform/ezugi.png") no-repeat;
}

.casino-logo.gameart{
  background: url("../../../pages/gaming-platform/gameart.png") no-repeat;
}

.casino-logo.netent{
  background: url("../../../pages/gaming-platform/neteller.png") no-repeat;
  background-position-y: 15%;
}

.casino-logo.worldmatch{
  background: url("../../../pages/gaming-platform/worldmatch.png") no-repeat;
}

.casino-logo.gameart{
  background: url("../../../pages/gaming-platform/gameart.png") no-repeat;
}

// Payment Methods

.payment-gateway{
  background: #ececec;
  padding: 80px 0;
  text-align: justify;
  color: #333;
}

.payment-gateway h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px;
}

.payment-gateway .first-row{
  margin-top: 40px;
}

.payment-logo{
  display: inline-block;
  -webkit-filter: grayscale(100%);
  transition: $transition;
  width: 160px;
  background-position-x: 50% !important;
  min-height: 80px;
}

.payment-logo:hover{
  -webkit-filter: grayscale(0);
  transition: $transition;
}

// 1st row

.payment-logo.visa{
  background: url("../../../pages/gaming-platform/visa.png") no-repeat;
}

.payment-logo.mastercard{
  background: url("../../../pages/gaming-platform/mastercard.png") no-repeat;
}

.payment-logo.skrill{
   background: url("../../../pages/gaming-platform/skrill.png") no-repeat;
 }

.payment-logo.neteller{
  background: url("../../../pages/gaming-platform/neteller.png") no-repeat;
}

.payment-logo.paysafe{
  background: url("../../../pages/gaming-platform/paysafe.png") no-repeat;
}

.payment-logo.trustly{
  background: url("../../../pages/gaming-platform/trustly.png") no-repeat;
}

.payment-logo.arena-wallet{
  background: url("../../../pages/gaming-platform/arenawallet.png") no-repeat;
}

.payment-logo.sofort{
  background: url("../../../pages/gaming-platform/sofort.png") no-repeat;
}

//2nd row

.payment-logo.apcopay-1{
  background: url("../../../pages/gaming-platform/apcopay.png") no-repeat;
}

.payment-logo.astropay{
  background: url("../../../pages/gaming-platform/astropay.png") no-repeat;
}

.payment-logo.ecopayz{
  background: url("../../../pages/gaming-platform/ecopayz.png") no-repeat;
}

.payment-logo.ukash{
  background: url("../../../pages/gaming-platform/ukash.png") no-repeat;
}

.payment-logo.purplepay{
  background: url("../../../pages/gaming-platform/purplepay.png") no-repeat;
}

.payment-logo.bank-transfer{
  background: url("../../../pages/gaming-platform/banktransfer.png") no-repeat;
}