@media #{$extra-large}{
  .gaming-module{
    background: none;
  }
}
  @media #{$large}{
  img.service-navbar{
    margin: 0 auto;
    display: -webkit-box;
    width: 40%;
  }

  .jumbotron-products{
    background-position-x: 50% !important;
    background-size: auto !important;
  }

  .arena-old-new{
    padding: 100px 0;
  }

  .feature-logos{
    width: 72%;
  }

  form .btn-success{
    margin-bottom: 20px;
  }

  .news-top-map-content{
    height: auto;
  }

  .news-article{
    width: 50%;
  }

  .products-image p{
    font-size: 13px;
  }

  .powerfull-back-office img{
    width: 700px;
  }

  .website img{
    width: 700px;
    position: relative;
    top: 40px;
  }
}

@media #{$mCustom} {
  .about-img img {
    display: none;
  }

  .about-us-content {
    padding: 20px 0;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .bottom-banner-container img {
    bottom: 43px;
  }

  .home-sportsbook-caption h2 {
    font-size: 45px;
  }

  .arena-old-new p {
    font-size: 14px;
  }

  .content-products-heading h2, .home-arena-challenge-caption h2 {
    font-size: 35px;
  }

  .home-arena-challenge-caption h3 {
    font-size: 27px;
    padding-bottom: 30px;
  }

  .video-container.top iframe {
    height: 400px;
  }

  .arena-tutorials .page-curl {
    display: none;
  }

  .arena-tutorials img {
    @include center;
  }

  .arena-tutorials p {
    text-align: center;
  }

  .contact-container {
    text-align: center;
    margin-bottom: 40px;
  }

  #contact-form h2, .text-muted {
    text-align: center;
  }

  .last-content-background h2 {
    font-size: 40px;
  }

  .feature-logos, .partner-logos {
    display: block;
  }

  .logo.feature {
    margin: 30px auto;
    width: 175px;
  }

  #applicationStatus {
    position: relative;
    height: 90px;
    display: block;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: CENTER;
  }

  .applicationStatus {
    padding-left: 0;
    display: block;
    margin: 0 auto;
    width: 85%;
  }

  .widerpoker-multidraw {
    background: #E0DEDF;
  }

  .applicationStatus li {
    width: 100%;
    padding: 8px 10px 10px;
    text-align: center;
    border-radius: 20px;
  }

  .applicationStatus img {
    left: 45px;
  }

  .applicationStatusNoGood:after, .applicationStatusNoGood:before {
    display: none;
  }

  .left .text-block {
    top: 10%;
    right: 15%;
  }

  .right .text-block {
    top: 10%;
    left: 26%;
  }

  .text-block h3 {
    font-size: 16px;
  }

  .text-block i {
    display: none;
  }

  .news-content img {
    width: 60%;
    display: block;
  }

  .powerfull-back-office img, .website img {
    display: none;
  }

  .website{
    height: auto;
    padding-bottom: 90px;
  }

  .powerfull-back-office{
    height: auto;
  }
}

@media #{$tablet} {

  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    margin-top: 12px;
  }

  .jumbotron h1{
    font-size: 45px;
  }

  .third-content-background{
    height: auto;
  }

  .content-header{
    width: 320px;
    height: 45px;
  }

  .content-header h2{
    font-size: 40px;
  }

  .arena-old-new{
    padding: 20px 0;
  }

  .arena-last-content{
    padding: 20px 0;
  }

  .avacspro-graph .icon{
    width: 40%;
  }

  .widerpoker-more-info .col-sm-6{
    padding: inherit;
    width: 100%;
  }

  .text-block{
    top: 22%;
    left: 0;
    right: 0;
    text-align: center;
  }

  .left .text-block, .right .text-block{
    left: 0;
    right: 0;
  }

  .left .text-block p, .right .text-block p{
    font-size: 15px;
  }

  .left .text-block h3{
    padding-left: 0;
  }


}

@media #{$mobile} {

  .jumbotron{
    padding: 100px 0 0 !important;
    height: auto !important;
  }

  .jumbotron .container {
    top: 0;
  }

  .jumbotron h1 {
    padding-top: 50px;
    font-size: 30px !important;
  }

  .jumbotron p {
    font-size: 13px;
  }

  .bottom-banner-container img {
    display: none;
  }

  .image-caption{
    padding: 0;
  }

  .jumbotron-products h1{
    padding-bottom: 17px;
  }

  .home-sportsbook-caption h2, .home-arena-challenge-caption h2 {
    font-size: 40px;
  }

  .thirdeye .image-caption h1{
    padding-top: 0;
  }

  .home-feature-image {
    display: none;
  }

  .jumbotron-products h1 {
    padding-top: 100px;
  }

  .arena-old-new, .jumbotron, .about-us-possible, .jumbotron-products, .jumbotron.sportsbook, .jumbotron.arena-challenge, .jumbotron.thirdeye, .jumbotron.avacspro, .jumbotron.widerpoker, .jumbotron.gaming-platform {
    background: #333;
  }

  .sportsbook-top-content-background, .third-content-background{
    background: transparent;
  }

  .pixel-overlay {
    display: none;
  }

  .third-eye-top-content-background, .avacspro-top-content-background, .avacspro-graph, .widerpoker-top-content-background, .widerpoker-tutorial {
    background: none;
  }

  .jumbotron.gaming-platform .container{
    top: 0;
  }

  .widerpoker-multidraw{
    background: #E0DEDF;
  }

  .avacspro-graph .icon {
    width: 20%;
  }

  aside {
    display: none;
  }

  .news-article {
    width: 100%;
  }

  .fa-angle-left, .fa-angle-right {
    display: none;
  }

  .applicationStatus img{
    display: none;
  }

  .applicationStatus li {
    font-size: 13px;
    padding-top: 13px;
  }
}