.news-content{
  margin-top: 70px;
  font-size: 50px;
}

.news-content h1{
  font-size: 26px;
  margin: 33px 0 21px;
}

.news-content p{
  font-size: 16px;
}

.news-content img{
  margin-top: 10px;
}

.post-nav .prev, .post-nav .next {
  width: 47%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-nav {
  border-top: 5px solid #666;
  border-bottom: 5px solid #666;
  margin: 1.8em 0 1.5em;
  padding: 32px 0;
  clear: both;
}

.clearfix{
  display: block;
}

.post-nav .prev {
  float: left;
  padding-left: 0.45em;
}

.post-nav .next {
  float: right;
  text-align: right;
  padding-right: 0.45em;
}

.post-nav a {
  color: inherit;
  font-size: 14px;
  display: block;
  text-decoration: none;
  margin-top: 13px;
}

.post-nav a .fa{
  font-size: 50px;
}



.news-content .fa-angle-left{
  float: left;
}

.news-content .fa-angle-right{
  float: right;
}