.jumbotron-products{
  padding: 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-size: 100% 675px !important;
  background: url("../../../pages/03.products/products-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.jumbotron-products h1{
  text-align: center;
  padding-top: 270px;
  padding-bottom: 67px;
  text-transform: uppercase;
  font-size: 51px;
}

.image-caption{
  padding-bottom: 100px;
}

.jumbotron-products p{
  font-size: 20px;
  font-weight: 300;
}

.products-masonary{
  padding-bottom: 200px;
}

.products-content h3{
  text-transform: uppercase;
}

.products-image{
  width: 100%;
  height: 290px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.products-image.arenachallenge {
  background: center url("../../../pages/03.products/products-arenachallenge.jpg") no-repeat;
}

.products-image.sportsbook{
  background: center url("../../../pages/03.products/products-sportsbook.jpg") no-repeat;
}

.products-image.thirdeye{
  background: center url("../../../pages/03.products/products-thirdeye.jpg") no-repeat;
}

.products-image.avacs{
  background: center url("../../../pages/03.products/products-avacs.jpg") no-repeat;
}

.products-image.widerpoker{
  background: center url("../../../pages/03.products/products-widerpoker.jpg") no-repeat;
}

.products-image.gaming-platform{
  background: center url("../../../pages/03.products/products-gaming-platform.jpg") no-repeat;
}


.container.products{
  width: 100%;
}

.products-masonary .col-md-5 , .col-md-offset-3.col-md-6{
  padding: 0;
}

.products-content{
  padding: 25px 0;
}

