/* SERVICES Carousel Navigation */

.carousel-indicators{
  position: relative;
  margin-left: 0;
  left: 0;
  bottom: 0;
  width: 100% !important;
}

.carousel-indicators li{
  width: initial;
  text-indent: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  height: initial;
}

.carousel-indicators .active{
  width: initial;
  height: initial;
  background: $primary-color;
}

.carousel-indicators .active img{
  -webkit-filter: contrast(0%) brightness(0%);
}

/* SERVICES Carousel Content */

#myCarousel {
  margin-top: 0;
  height: 900px;
}

.carousel-linked-nav, .item img {
  @include center;
}

.letter-square{
  position: relative;
  bottom: 165px;
}

.carousel .item{
  background: transparent;
  height: auto;
}

.carousel-linked-nav {
  width: 130px;
  margin-bottom: 20px;
  display: inline;
}

.carousel-inner h2{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: $secondary-color;
  margin-bottom: 10px;
}

.carousel-inner h4{
  font-size: 70px;
  display: inline;
  color: $primary-color;
  font-weight: 900;
  text-transform: uppercase;
}

.carousel-inner span{
  font-size: 25px;
  color: $primary-color;
  font-weight: 900;
}

.carousel-inner h5{
  font-size: 23px;
  text-transform: uppercase;
  color: $primary-color;
  font-weight: 900;
  margin: 0;
}

.web-caption{
  font-size: 27px;
  text-align: right;
}

.web-caption h4{
  font-size: 23px;
}

.web-caption h5{
  font-size: 70px;
}

.carousel-inner, .carousel-inner h3{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.carousel-list li{
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

.para-top{
  margin-bottom: 30px;
}

.carousel-inner p{
  font-size: 16px;
  text-align: left;
  font-weight: 300;
}
