@charset "UTF-8";
/* Variables */
/* Mixins */
/* Custom Media Queries */
/* Global Styles */
html {
  overflow: auto !important; }

body {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0; }

p {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 27px;
  padding: 0 0 0.8em;
  font-size: 18px;
  font-weight: 300;
  margin: 0; }

ul, li {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  text-transform: initial; }

b, strong {
  color: #333; }

a:focus {
  outline: none; }

a, .fa {
  transition: all 0.5s ease; }

a:hover, .fa:hover {
  color: #833089;
  transition: all 0.5s ease;
  text-decoration: none; }

.jumbotron.thirdeye {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/3rd-eye/3rd-eye-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.thirdeye .image-caption {
  padding-top: 0; }

.thirdeye .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 80px; }

.third-eye-top-content-background {
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  background-size: contain;
  padding-top: 130px;
  text-align: justify; }

.third-eye-top-content-background h2 {
  text-transform: capitalize; }

.third-eye-top-content-background img {
  width: 100%; }

.jumbotron-banner.about {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/02.about-us/about-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.about-top-map-content {
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/02.about-us/about-bg-map.jpg") no-repeat;
  background-attachment: fixed; }

.about-us-content h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  color: #333;
  padding: 0 0 50px;
  margin-top: 0; }

.about-us-excitment {
  background: #833089;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #fff; }

.about-us-fusion {
  padding-top: 3%;
  padding-bottom: 3%; }

.about-us-excitment h2, .about-us-fusion h2, .about-us-possible h2, .about-us-certifications h2, .about-us-financial h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 30px; }

.about-us-content {
  padding: 70px 0; }

.about-us-possible {
  padding: 100px 0;
  background: url("../../../pages/02.about-us/about-us-bg-bottom.jpg") no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  color: #fff;
  margin-bottom: 0;
  text-shadow: 1px 1px #000;
  position: relative;
  background-position-x: 50% !important; }

.about-us-possible h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase; }

.about-us-possible h4 {
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline; }

.about-us-certifications {
  margin-bottom: 0;
  padding: 50px 0;
  background-size: cover !important;
  background: url("../../../pages/02.about-us/about-bg-bottom-map.jpg") no-repeat;
  background-position: center top; }

.about-us-financial {
  padding: 50px 0; }

.about-us-financial img {
  position: relative;
  bottom: 13px; }

.jumbotron.arena-challenge {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/arena-challenge/arena-challenge-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position-x: 0 !important;
  position: relative;
  z-index: 1;
  height: 100vh; }

.jumbotron.arena-challenge .container {
  top: 50%; }

.arena-challenge .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  padding-top: 5%;
  font-size: 60px; }

.arena-challenge .image-caption img {
  width: 250px; }

.arena-top-content-background {
  background: url("../../../pages/arena-challenge/arena-challenge-bg-icon.png") no-repeat;
  background-attachment: fixed;
  background-position-x: 100% !important;
  padding: 0 0 100px; }

.arena-top-content-background h2, .arena-top-content-background h3 {
  text-align: center;
  text-transform: uppercase; }

.arena-top-content-background h2 {
  font-size: 40px;
  color: #aa0000;
  margin-top: 87px; }

.arena-top-content-background h3 {
  font-size: 30px;
  color: #494949;
  margin-bottom: 60px; }

.arena-top-content-background p {
  text-align: justify; }

.video-container.top iframe {
  height: 920px; }

.video-container iframe {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }

.arena-tutorials .video-container p {
  color: #626262;
  font-size: 18px;
  text-shadow: none; }

.arena-features {
  padding: 60px 0 40px; }

.arena-features .row {
  margin-top: 15px; }

.arena-features img {
  width: 150px;
  margin: 0 auto;
  display: block; }

.arena-features h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #454545; }

.arena-features p {
  text-align: justify;
  font-size: 17px;
  color: #454545; }

.arena-features li {
  font-size: 20px;
  color: #454545; }

.arena-features-list ul {
  margin-top: 60px;
  list-style-type: none; }

.arena-features-list li {
  margin-bottom: 20px; }

.arena-features-list img {
  width: 15px;
  display: initial;
  vertical-align: baseline;
  margin-right: 15px; }

.arena-features-list .third-column li {
  margin-bottom: 10px; }

.arena-tutorials .video-container.top {
  text-align: center;
  margin-bottom: 40px; }

.arena-tutorials {
  background: #9c0002;
  padding: 0 0 40px; }

.arena-tutorials .page-curl {
  float: right; }

.arena-tutorials h2 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 78px;
  margin-bottom: 72px; }

.arena-tutorials p {
  color: #fff;
  font-size: 18px; }

.arena-tutorials .black.btn-primary {
  float: right;
  padding: 4px 16px;
  margin-top: 40px;
  margin-right: 40px; }

video {
  min-height: 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  transition: 1s opacity;
  left: 0;
  right: 0; }

.stopfade {
  opacity: .5; }

.jumbotron.avacspro {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/avacspro/avacspro-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.avacspro .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0; }

.avacspro-top-content-background {
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  padding-top: 130px;
  text-align: justify; }

.avacspro-top-content-background img {
  margin: 0 auto;
  display: block;
  width: 100%; }

.avacspro-top-content-background h2 {
  text-align: center;
  color: #454545;
  text-transform: uppercase;
  margin-bottom: 100px; }

.avacspro-top-content-background h3 {
  color: #333;
  text-transform: uppercase;
  margin: 30px 0; }

.avacspro-top-content-background p {
  color: #333;
  padding-bottom: 0; }

.avacspro-graph {
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  background-size: contain;
  padding-top: 6%;
  padding-right: 3%;
  padding-bottom: 6%;
  padding-left: 3%; }

.avacspro-graph .logo {
  margin: 0 auto;
  display: block;
  width: 360px; }

.avacspro-graph .graph {
  margin: 0 auto;
  display: block;
  width: 100%; }

.avacspro-graph .icons {
  margin: 0 auto;
  display: block;
  width: 90px; }

.avacspro-features h2 {
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 36px; }

.avacspro-graph h3 {
  color: #1276bc;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0; }

.avacspro-graph p {
  padding-bottom: 45px;
  color: #333;
  font-size: 18px;
  text-align: justify;
  line-height: 23px; }

.avacspro-features .features-left p {
  padding-bottom: 25px; }

.jumbotron-banner.careers {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/05.careers/careers-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover; }

.careers-content {
  padding: 40px 0;
  margin-top: 0; }

.careers-content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: #333;
  margin-bottom: 30px; }

.careers-content h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 26px; }

.careers-content img {
  width: 100%; }

.careers-content p {
  float: right;
  font-size: 16px; }

.careers-content a {
  color: #333; }

.careers-content .fa {
  padding-left: 10px; }

.careers-pages-content {
  margin-top: 70px;
  text-transform: capitalize;
  font-size: 50px; }

.careers-pages-content h1, .careers-pages-content h4 {
  margin: 30px 0; }

.careers-pages-content h4 {
  font-size: 26px;
  text-transform: initial; }

.careers-pages-content .fa-angle-left {
  float: left; }

.careers-pages-content .fa-angle-right {
  float: right; }

.jumbotron-banner.contact {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/06.contact/contact-banner.jpg") no-repeat;
  height: 327px;
  background-size: cover; }

.contact-content {
  padding: 40px 0;
  background: center url("../../../pages/06.contact/contact-background.jpg") no-repeat;
  background-size: cover !important;
  background-attachment: fixed; }

.contact-content p {
  font-size: 16px; }

.contact-content .image-wrap img {
  width: 100%; }

.contact-content .col-md-4 {
  padding: 0; }

.contact-content .image-title, .contact-content .image-caption {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-size: 27px; }

.contact-content .image-title {
  top: 0;
  text-transform: uppercase;
  font-weight: 400; }

.contact-content .image-caption {
  bottom: 105px; }

.contact-content .image-caption p {
  font-size: 13px;
  padding: 0; }

.contact-content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: #333;
  margin-bottom: 100px; }

#contact-form form {
  font-family: Roboto Condensed, sans-serif; }

#contact-form .button, input, select, textarea {
  width: 50%;
  margin-bottom: 15px;
  border: 1px solid grey; }

#contact-form textarea {
  width: 60%;
  height: 135px; }

#contact-form .black.btn-primary {
  margin-bottom: 40px; }

.careers-content p {
  float: right; }

.careers-content .fa {
  padding-left: 10px; }

.thank-you-message {
  margin-top: 7%; }

/* Variables */
/* Mixins */
/* Custom Media Queries */
/* Global Styles */
html {
  overflow: auto !important; }

body {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0; }

p {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 27px;
  padding: 0 0 0.8em;
  font-size: 18px;
  font-weight: 300;
  margin: 0; }

ul, li {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  text-transform: initial; }

b, strong {
  color: #333; }

a:focus {
  outline: none; }

a, .fa {
  transition: all 0.5s ease; }

a:hover, .fa:hover {
  color: #833089;
  transition: all 0.5s ease;
  text-decoration: none; }

/* PRE FOOTER Section */
.footer-widgets {
  padding-top: 40px;
  padding-bottom: 20px; }

.footer-widgets h4 {
  margin: 20px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300; }

.footer-logo {
  width: 70%; }

.footer-widgets img {
  margin: 0 auto;
  display: block; }

.footer-widgets .form {
  text-align: center; }

.footer-widgets .newsletter-email {
  width: 50%;
  margin: 40px auto; }

img.go-footer {
  display: inline-block;
  margin: 0 auto;
  transition: all 0.5s ease; }

img.go-footer:hover {
  opacity: 0.5;
  transition: all 0.5s ease; }

.footer-widgets li {
  display: inline;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-family: Roboto Condensed, sans-serif;
  list-style-type: none;
  font-weight: 100;
  padding: 0px 4px; }

.footer-widgets li a {
  color: #fff;
  transition: all 0.5s ease;
  text-decoration: none; }

.footer-widgets li a:hover {
  color: #833089;
  transition: all 0.5s ease; }

footer ul {
  margin-top: 10px;
  padding-left: 0;
  text-align: center; }

.social-container {
  text-align: center; }

ul.footer-social-icons {
  padding-left: 0; }

.footer-social-icons li {
  font-size: 27px;
  padding-right: 18px;
  display: inline-block;
  float: inherit; }

.footer-social-icons li a {
  color: white;
  transition: all 0.5s ease; }

.fa {
  transition: all 0.5s ease; }

.fa-facebook:hover {
  color: #3b5998; }

.fa-twitter:hover {
  color: #0084b4; }

.fa-google-plus:hover {
  color: #d34836; }

.fa-youtube:hover {
  color: #bb0000; }

.fa-linkedin:hover {
  color: #0e76a8; }

.footer-header {
  background: #833089;
  height: 145px; }

.service-container h4 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 45px;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 1.5px;
  text-align: center; }

.footer-header p {
  border-bottom: 1px solid #333;
  text-align: right;
  font-size: 21px;
  padding-right: 21px; }

.footer-header a {
  color: #333;
  transition: all 0.5s ease; }

.footer-header a:hover {
  color: #fff;
  transition: all 0.5s ease;
  text-decoration: none; }

footer {
  background: black; }

#mc_embed_signup .mc-field-group label {
  color: #fff;
  font-weight: 300; }

#mc_embed_signup {
  background: #000 !important;
  transition: all 0.5s ease; }

#mc_embed_signup h2 {
  display: none; }

#mc_embed_signup .button {
  color: #000 !important;
  background: #fff !important; }

#mc_embed_signup .button:hover {
  background-color: #833089 !important;
  color: #fff !important;
  transition: all 0.5s ease; }

#mc_embed_signup form {
  padding: 0 !important; }

#mc_embed_signup .indicates-required {
  position: relative;
  top: 20px; }

.jumbotron.gaming-platform {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/gaming-platform/gaming-platform.bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position-y: 45% !important;
  position: relative;
  z-index: 1;
  height: 100vh; }

.jumbotron.gaming-platform .container {
  top: -25px; }

.jumbotron .gaming-platform h1 {
  padding-top: 0; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.gaming-platform .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0; }

.develop-to-innovate {
  background: #201827;
  padding: 80px 0;
  text-align: justify;
  color: #fff; }

.develop-to-innovate h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px;
  text-shadow: 1px 1px 2px #333; }

.develop-to-innovate h3 {
  color: #333;
  text-transform: uppercase;
  margin: 30px 0; }

.website {
  background-color: #F4F5F7;
  height: 85vh;
  color: #333; }

.website h2 {
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  font-size: 40px;
  margin: 100px 0 80px; }

.website p {
  margin-top: 70px; }

.powerfull-back-office {
  padding-bottom: 70px;
  background-color: #E5E9EC;
  background-size: cover;
  height: 85vh;
  color: #333; }

.powerfull-back-office h2 {
  margin: 100px 0 80px;
  color: #454545;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px; }

.powerfull-back-office ul {
  padding-top: 20px;
  padding-bottom: 20px; }

.powerfull-back-office img {
  position: absolute;
  top: -60px;
  right: -130px; }

.business-intelligence {
  background: #542E61;
  color: #e4e5e6;
  padding: 90px 0; }

.business-intelligence li, .website li, .powerfull-back-office li {
  font-size: 18px; }

.business-intelligence ul, .website ul, .powerfull-back-office ul {
  list-style: none; }

.business-intelligence ul li:before, .website ul li:before, .powerfull-back-office ul li:before {
  content: "•";
  font-size: 175%;
  padding-right: 5px;
  position: relative;
  top: 4px; }

.business-intelligence h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 60px;
  text-shadow: 1px 1px 2px #333; }

.gaming-module {
  background-color: #f4f5f6 !important;
  background: url("../../../pages/gaming-platform/characters.png") no-repeat;
  padding: 80px 0 20px;
  text-align: justify;
  color: #333; }

.gaming-module h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px; }

.gaming-module .casino-logos {
  margin-top: 40px; }

.casino-logo {
  display: inline-block;
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease;
  background-position-x: 50% !important;
  width: 124px;
  min-height: 80px; }

.casino-logo:hover {
  -webkit-filter: grayscale(0);
  transition: all 0.5s ease; }

.casino-logo.betgamestv {
  background: url("../../../pages/gaming-platform/betgamestv.png") no-repeat; }

.casino-logo.one-two {
  background: url("../../../pages/gaming-platform/one-two.png") no-repeat; }

.casino-logo.betsoft {
  background: url("../../../pages/gaming-platform/betsoft.png") no-repeat; }

.casino-logo.endorphina {
  background: url("../../../pages/gaming-platform/endorphina.png") no-repeat; }

.casino-logo.evolution {
  background: url("../../../pages/gaming-platform/evolution.png") no-repeat; }

.casino-logo.ezugi {
  background: url("../../../pages/gaming-platform/ezugi.png") no-repeat; }

.casino-logo.gameart {
  background: url("../../../pages/gaming-platform/gameart.png") no-repeat; }

.casino-logo.netent {
  background: url("../../../pages/gaming-platform/neteller.png") no-repeat;
  background-position-y: 15%; }

.casino-logo.worldmatch {
  background: url("../../../pages/gaming-platform/worldmatch.png") no-repeat; }

.casino-logo.gameart {
  background: url("../../../pages/gaming-platform/gameart.png") no-repeat; }

.payment-gateway {
  background: #ececec;
  padding: 80px 0;
  text-align: justify;
  color: #333; }

.payment-gateway h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px; }

.payment-gateway .first-row {
  margin-top: 40px; }

.payment-logo {
  display: inline-block;
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease;
  width: 160px;
  background-position-x: 50% !important;
  min-height: 80px; }

.payment-logo:hover {
  -webkit-filter: grayscale(0);
  transition: all 0.5s ease; }

.payment-logo.visa {
  background: url("../../../pages/gaming-platform/visa.png") no-repeat; }

.payment-logo.mastercard {
  background: url("../../../pages/gaming-platform/mastercard.png") no-repeat; }

.payment-logo.skrill {
  background: url("../../../pages/gaming-platform/skrill.png") no-repeat; }

.payment-logo.neteller {
  background: url("../../../pages/gaming-platform/neteller.png") no-repeat; }

.payment-logo.paysafe {
  background: url("../../../pages/gaming-platform/paysafe.png") no-repeat; }

.payment-logo.trustly {
  background: url("../../../pages/gaming-platform/trustly.png") no-repeat; }

.payment-logo.arena-wallet {
  background: url("../../../pages/gaming-platform/arenawallet.png") no-repeat; }

.payment-logo.sofort {
  background: url("../../../pages/gaming-platform/sofort.png") no-repeat; }

.payment-logo.apcopay-1 {
  background: url("../../../pages/gaming-platform/apcopay.png") no-repeat; }

.payment-logo.astropay {
  background: url("../../../pages/gaming-platform/astropay.png") no-repeat; }

.payment-logo.ecopayz {
  background: url("../../../pages/gaming-platform/ecopayz.png") no-repeat; }

.payment-logo.ukash {
  background: url("../../../pages/gaming-platform/ukash.png") no-repeat; }

.payment-logo.purplepay {
  background: url("../../../pages/gaming-platform/purplepay.png") no-repeat; }

.payment-logo.bank-transfer {
  background: url("../../../pages/gaming-platform/banktransfer.png") no-repeat; }

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/01.home/home-banner.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  background-position-x: 45% !important; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.pixel-overlay.banner {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.jumbotron .container {
  position: relative;
  height: 150px;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center; }

.black.btn-primary {
  background: #833089;
  text-transform: initial;
  border: none;
  border-radius: 0;
  transition: all 0.5s ease;
  background: #000;
  background-position: center right .2em;
  padding: 10px; }

.black.btn-primary:hover {
  color: #fff;
  background: #833089; }

.btn-lg.black .fa {
  padding-left: 5px;
  position: relative;
  bottom: 2px;
  left: 2px; }

.image-caption h1 {
  color: #fff;
  padding-top: 245px; }

.bottom-banner-container {
  font-size: 21px !important;
  position: relative;
  margin-top: 37%;
  bottom: 1px;
  background-color: #5d2483;
  color: white;
  display: block; }

.bottom-banner-container p {
  font-weight: 500;
  text-shadow: 1px 1px 2px #000;
  font-size: 25px;
  display: inline-block;
  padding-top: 30px;
  vertical-align: baseline;
  line-height: 45px;
  text-align: left;
  font-family: 'Oswald', sans-serif !important; }

.bottom-banner-container img {
  display: inline-block;
  position: relative;
  bottom: 48px;
  right: 48px; }

.bottom-banner-container .black.btn-primary {
  position: absolute;
  right: 36px;
  bottom: 30px; }

.middle-content-background {
  background: #eaeaea;
  padding: 100px 0; }

.home-feature-image {
  width: 100%; }

.home-arena-challenge-caption {
  text-align: right;
  text-transform: capitalize;
  font-size: 33px;
  padding-bottom: 60px; }

.home-arena-challenge-caption h2 {
  color: #833089;
  font-size: 60px;
  line-height: 62px;
  text-transform: uppercase; }

.home-arena-challenge-caption h3 {
  font-size: 33px;
  padding-bottom: 60px;
  line-height: 1.2; }

.home-arena-challenge-caption p {
  font-size: 21px;
  text-transform: initial;
  font-weight: 300; }

.image-caption p {
  color: #fff; }

.jumbotron h1 {
  padding-bottom: 45px;
  text-transform: uppercase;
  font-size: 70px;
  text-shadow: 1px 1px 2px #000; }

.outerholder {
  margin: 0 auto;
  float: right;
  display: inline-block; }

.floating-box {
  float: left; }

.outerholder .image {
  display: inline;
  vertical-align: top; }

.floating-text {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 20px; }

.floating-text .value {
  font-size: 42px;
  color: #833089;
  text-align: left; }

.floating-text .description {
  margin: 0 auto 30px;
  font-size: 19px;
  color: #333;
  text-align: left; }

.third-content-background {
  padding: 10% 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../themes/bootgrav/images/home-sb-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position-x: 50% !important;
  z-index: 1;
  position: relative;
  height: 100vh; }

.home-sportsbook-caption {
  text-align: left;
  text-transform: capitalize;
  font-size: 33px;
  padding-bottom: 60px; }

.home-sportsbook-caption h2 {
  color: #a00;
  font-size: 60px;
  line-height: 62px;
  margin-bottom: 60px;
  text-transform: uppercase; }

.home-sportsbook-caption p {
  font-size: 21px;
  text-align: justify;
  font-weight: 300;
  text-transform: initial; }

.home-sportsbook-caption .btn {
  float: right;
  margin-top: 60px; }

.last-content-background {
  padding-bottom: 6%; }

.last-content-background h2 {
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 3%;
  margin-top: 10%; }

.logo.wintech {
  background: url("../../../pages/01.home/wintech-logo.png") no-repeat; }

.logo.betradar {
  background: url("../../../pages/01.home/betradar-logo.png") no-repeat; }

.logo.lambda {
  background: url("../../../pages/01.home/lamda-logo.png") no-repeat; }

.logo.apcopay {
  background: url("../../../pages/01.home/apcopay-logo.png") no-repeat; }

.logo.unicept {
  background: url("../../../pages/01.home/unicept-logo.png") no-repeat; }

.logo.fortune {
  background: url("../../../pages/01.home/fortune-greece.svg") no-repeat; }

.logo.gambling {
  background: url("../../../pages/01.home/gambling-insider.svg") no-repeat; }

.logo.igaming {
  background: url("../../../pages/01.home/igaming-business.svg") no-repeat; }

.logo {
  background-size: 100% 138px;
  background-position: 0 0;
  width: 175px;
  min-height: 80px;
  display: block;
  margin: 0 auto;
  transition: 0.3s ease all; }

.partner-logos {
  width: 100%;
  display: flex; }

.feature-logos {
  width: 56%;
  margin: 12px auto 0;
  display: flex; }

.logo.feature.fortune {
  width: 200px; }

.logo:hover {
  background-position: 0px -70px !important;
  transition: 0.3s ease all; }

.logo.feature {
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease;
  margin: 0 -20px; }

.logo.feature:hover {
  background-position: inherit !important;
  -webkit-filter: grayscale(0);
  transition: all 0.5s ease; }

.logo.feature {
  width: 300px; }

.content-header {
  background: #833089;
  width: 525px;
  height: 75px;
  color: #fff; }

.content-header h2 {
  margin: 0 0 12px;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase; }

.service-container {
  margin: 40px 0 80px 0; }

.service-container h3 {
  font-size: 23px;
  margin: 0 90px 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #833089;
  color: #192239; }

.service-container p {
  font-weight: 600;
  margin-bottom: 40px; }

.service-container a {
  font-weight: 400;
  color: #833089;
  transition: all 0.5s ease;
  text-decoration: none; }

.service-container a:hover {
  color: #192239;
  transition: all 0.5s ease;
  text-decoration: none; }

@media (max-width: 1700px) {
  .gaming-module {
    background: none; } }
@media (max-width: 1200px) {
  img.service-navbar {
    margin: 0 auto;
    display: -webkit-box;
    width: 40%; }

  .jumbotron-products {
    background-position-x: 50% !important;
    background-size: auto !important; }

  .arena-old-new {
    padding: 100px 0; }

  .feature-logos {
    width: 72%; }

  form .btn-success {
    margin-bottom: 20px; }

  .news-top-map-content {
    height: auto; }

  .news-article {
    width: 50%; }

  .products-image p {
    font-size: 13px; }

  .powerfull-back-office img {
    width: 700px; }

  .website img {
    width: 700px;
    position: relative;
    top: 40px; } }
@media (max-width: 992px) {
  .about-img img {
    display: none; }

  .about-us-content {
    padding: 20px 0; }

  .jumbotron p {
    font-size: 16px; }

  .bottom-banner-container img {
    bottom: 43px; }

  .home-sportsbook-caption h2 {
    font-size: 45px; }

  .arena-old-new p {
    font-size: 14px; }

  .content-products-heading h2, .home-arena-challenge-caption h2 {
    font-size: 35px; }

  .home-arena-challenge-caption h3 {
    font-size: 27px;
    padding-bottom: 30px; }

  .video-container.top iframe {
    height: 400px; }

  .arena-tutorials .page-curl {
    display: none; }

  .arena-tutorials img {
    margin: 0 auto;
    display: block; }

  .arena-tutorials p {
    text-align: center; }

  .contact-container {
    text-align: center;
    margin-bottom: 40px; }

  #contact-form h2, .text-muted {
    text-align: center; }

  .last-content-background h2 {
    font-size: 40px; }

  .feature-logos, .partner-logos {
    display: block; }

  .logo.feature {
    margin: 30px auto;
    width: 175px; }

  #applicationStatus {
    position: relative;
    height: 90px;
    display: block;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: CENTER; }

  .applicationStatus {
    padding-left: 0;
    display: block;
    margin: 0 auto;
    width: 85%; }

  .widerpoker-multidraw {
    background: #E0DEDF; }

  .applicationStatus li {
    width: 100%;
    padding: 8px 10px 10px;
    text-align: center;
    border-radius: 20px; }

  .applicationStatus img {
    left: 45px; }

  .applicationStatusNoGood:after, .applicationStatusNoGood:before {
    display: none; }

  .left .text-block {
    top: 10%;
    right: 15%; }

  .right .text-block {
    top: 10%;
    left: 26%; }

  .text-block h3 {
    font-size: 16px; }

  .text-block i {
    display: none; }

  .news-content img {
    width: 60%;
    display: block; }

  .powerfull-back-office img, .website img {
    display: none; }

  .website {
    height: auto;
    padding-bottom: 90px; }

  .powerfull-back-office {
    height: auto; } }
@media (max-width: 767px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 12px; }

  .jumbotron h1 {
    font-size: 45px; }

  .third-content-background {
    height: auto; }

  .content-header {
    width: 320px;
    height: 45px; }

  .content-header h2 {
    font-size: 40px; }

  .arena-old-new {
    padding: 20px 0; }

  .arena-last-content {
    padding: 20px 0; }

  .avacspro-graph .icon {
    width: 40%; }

  .widerpoker-more-info .col-sm-6 {
    padding: inherit;
    width: 100%; }

  .text-block {
    top: 22%;
    left: 0;
    right: 0;
    text-align: center; }

  .left .text-block, .right .text-block {
    left: 0;
    right: 0; }

  .left .text-block p, .right .text-block p {
    font-size: 15px; }

  .left .text-block h3 {
    padding-left: 0; } }
@media (max-width: 480px) {
  .jumbotron {
    padding: 100px 0 0 !important;
    height: auto !important; }

  .jumbotron .container {
    top: 0; }

  .jumbotron h1 {
    padding-top: 50px;
    font-size: 30px !important; }

  .jumbotron p {
    font-size: 13px; }

  .bottom-banner-container img {
    display: none; }

  .image-caption {
    padding: 0; }

  .jumbotron-products h1 {
    padding-bottom: 17px; }

  .home-sportsbook-caption h2, .home-arena-challenge-caption h2 {
    font-size: 40px; }

  .thirdeye .image-caption h1 {
    padding-top: 0; }

  .home-feature-image {
    display: none; }

  .jumbotron-products h1 {
    padding-top: 100px; }

  .arena-old-new, .jumbotron, .about-us-possible, .jumbotron-products, .jumbotron.sportsbook, .jumbotron.arena-challenge, .jumbotron.thirdeye, .jumbotron.avacspro, .jumbotron.widerpoker, .jumbotron.gaming-platform {
    background: #333; }

  .sportsbook-top-content-background, .third-content-background {
    background: transparent; }

  .pixel-overlay {
    display: none; }

  .third-eye-top-content-background, .avacspro-top-content-background, .avacspro-graph, .widerpoker-top-content-background, .widerpoker-tutorial {
    background: none; }

  .jumbotron.gaming-platform .container {
    top: 0; }

  .widerpoker-multidraw {
    background: #E0DEDF; }

  .avacspro-graph .icon {
    width: 20%; }

  aside {
    display: none; }

  .news-article {
    width: 100%; }

  .fa-angle-left, .fa-angle-right {
    display: none; }

  .applicationStatus img {
    display: none; }

  .applicationStatus li {
    font-size: 13px;
    padding-top: 13px; } }
.navbar-default {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 0; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: #bd1fc8;
  transition: all 0.5s ease; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #bd1fc8;
  transition: all 0.5s ease;
  font-weight: 300; }

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s ease;
  font-weight: 300;
  padding-right: 15px;
  font-family: 'Oswald', sans-serif !important; }

.navbar-wrapper {
  margin-top: 0;
  position: static; }

.navbar-wrapper .navbar {
  border-radius: 0;
  margin-top: 16px;
  padding-bottom: 16px; }

.navbar {
  margin-bottom: 0; }

.navbar img {
  position: relative;
  top: 8px;
  margin: 0 auto;
  display: block; }

.navbar-inverse {
  background: #fff;
  border: 0; }

.navbar-inverse .navbar-nav > li > a {
  color: #192239;
  font-size: 18px; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: #fff;
  color: #bd1fc8; }

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #bd1fc8;
  background-color: transparent; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #bd1fc8; }

.navbar-inverse .navbar-toggle {
  border: none;
  transition: all 0.5s ease;
  float: left; }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background: transparent;
  opacity: 0.5;
  transition: all 0.5s ease; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #bd1fc8; }

.navbar-default .navbar-toggle {
  float: left;
  margin-left: 15px;
  position: absolute; }

.jumbotron-banner.news {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/04.news/news-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover; }

aside {
  position: absolute;
  width: 25%;
  right: 85px; }

.news-side-article {
  padding-bottom: 45px;
  border-bottom: 1px solid grey; }

.news-side-article h2 {
  margin: 45px 0 25px;
  font-size: 22px; }

.news-side-article p {
  padding-bottom: 0;
  text-align: justify;
  font-size: 13px;
  line-height: 17px; }

.news-top-map-content .fa {
  padding-left: 10px; }

.news-side-article .button {
  float: right; }

.news-top-map-content {
  background-size: contain;
  background: url("../../../pages/02.about-us/about-bg-map.jpg") no-repeat;
  padding-top: 70px; }

.news-top-map-content h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  color: #333;
  padding: 0 0 50px; }

.news-article {
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 20px; }

.news-article img {
  width: 100%; }

.news-article h2 {
  font-size: 22px;
  text-align: center;
  border-bottom: 3px solid #833089;
  padding-bottom: 13px;
  width: 90%;
  margin: 21px auto 10px; }

.news-article p {
  font-size: 13px;
  line-height: 17px;
  padding: 10px;
  margin: 0;
  text-align: justify; }

.news-top-map-content a, .news-article a, .related-posts a {
  color: #333;
  text-decoration: none; }

.news-top-map-content a, .news-article a, .related-posts a:hover {
  color: #333;
  text-decoration: none; }

.news-article .date {
  display: inline-block; }

.news-article .button {
  display: inline;
  float: right; }

.news-content {
  margin-top: 70px;
  font-size: 50px; }

.news-content h1 {
  font-size: 26px;
  margin: 33px 0 21px; }

.news-content p {
  font-size: 16px; }

.news-content img {
  margin-top: 10px; }

.post-nav .prev, .post-nav .next {
  width: 47%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.post-nav {
  border-top: 5px solid #666;
  border-bottom: 5px solid #666;
  margin: 1.8em 0 1.5em;
  padding: 32px 0;
  clear: both; }

.clearfix {
  display: block; }

.post-nav .prev {
  float: left;
  padding-left: 0.45em; }

.post-nav .next {
  float: right;
  text-align: right;
  padding-right: 0.45em; }

.post-nav a {
  color: inherit;
  font-size: 14px;
  display: block;
  text-decoration: none;
  margin-top: 13px; }

.post-nav a .fa {
  font-size: 50px; }

.news-content .fa-angle-left {
  float: left; }

.news-content .fa-angle-right {
  float: right; }

.jumbotron-products {
  padding: 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-size: 100% 675px !important;
  background: url("../../../pages/03.products/products-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center; }

.jumbotron-products h1 {
  text-align: center;
  padding-top: 270px;
  padding-bottom: 67px;
  text-transform: uppercase;
  font-size: 51px; }

.image-caption {
  padding-bottom: 100px; }

.jumbotron-products p {
  font-size: 20px;
  font-weight: 300; }

.products-masonary {
  padding-bottom: 200px; }

.products-content h3 {
  text-transform: uppercase; }

.products-image {
  width: 100%;
  height: 290px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.products-image.arenachallenge {
  background: center url("../../../pages/03.products/products-arenachallenge.jpg") no-repeat; }

.products-image.sportsbook {
  background: center url("../../../pages/03.products/products-sportsbook.jpg") no-repeat; }

.products-image.thirdeye {
  background: center url("../../../pages/03.products/products-thirdeye.jpg") no-repeat; }

.products-image.avacs {
  background: center url("../../../pages/03.products/products-avacs.jpg") no-repeat; }

.products-image.widerpoker {
  background: center url("../../../pages/03.products/products-widerpoker.jpg") no-repeat; }

.products-image.gaming-platform {
  background: center url("../../../pages/03.products/products-gaming-platform.jpg") no-repeat; }

.container.products {
  width: 100%; }

.products-masonary .col-md-5, .col-md-offset-3.col-md-6 {
  padding: 0; }

.products-content {
  padding: 25px 0; }

/* SERVICES Carousel Navigation */
.carousel-indicators {
  position: relative;
  margin-left: 0;
  left: 0;
  bottom: 0;
  width: 100% !important; }

.carousel-indicators li {
  width: initial;
  text-indent: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  height: initial; }

.carousel-indicators .active {
  width: initial;
  height: initial;
  background: #833089; }

.carousel-indicators .active img {
  -webkit-filter: contrast(0%) brightness(0%); }

/* SERVICES Carousel Content */
#myCarousel {
  margin-top: 0;
  height: 900px; }

.carousel-linked-nav, .item img {
  margin: 0 auto;
  display: block; }

.letter-square {
  position: relative;
  bottom: 165px; }

.carousel .item {
  background: transparent;
  height: auto; }

.carousel-linked-nav {
  width: 130px;
  margin-bottom: 20px;
  display: inline; }

.carousel-inner h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: #192239;
  margin-bottom: 10px; }

.carousel-inner h4 {
  font-size: 70px;
  display: inline;
  color: #833089;
  font-weight: 900;
  text-transform: uppercase; }

.carousel-inner span {
  font-size: 25px;
  color: #833089;
  font-weight: 900; }

.carousel-inner h5 {
  font-size: 23px;
  text-transform: uppercase;
  color: #833089;
  font-weight: 900;
  margin: 0; }

.web-caption {
  font-size: 27px;
  text-align: right; }

.web-caption h4 {
  font-size: 23px; }

.web-caption h5 {
  font-size: 70px; }

.carousel-inner, .carousel-inner h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px; }

.carousel-list li {
  font-size: 15px;
  font-weight: 300;
  text-align: left; }

.para-top {
  margin-bottom: 30px; }

.carousel-inner p {
  font-size: 16px;
  text-align: left;
  font-weight: 300; }

.jumbotron.sportsbook {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/sportsbook/sportsbook-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh; }

.jumbotron.sportsbook .container {
  top: 50%; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.sportsbook .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0; }

.sportsbook-top-content-background {
  background: url("../../../pages/sportsbook/sports-sb-bg.jpg") no-repeat;
  padding: 50px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-position-x: 50% !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.sportsbook-top-content-background img, .sportsbook-offer img {
  margin: 0 auto;
  display: block;
  width: 100%; }

.sportsbook-top-content-background h2 {
  text-align: center;
  color: #a00;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 40px; }

.sportsbook-top-content-background h3 {
  color: #333;
  text-transform: uppercase;
  margin: 30px 0;
  font-size: 19px; }

.sportsbook-top-content-background p {
  color: #454545;
  padding-bottom: 0; }

.sportsbook-offer {
  background: #E0DEDF;
  padding: 70px 0; }

.sportsbook-offer h2 {
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 36px;
  font-size: 40px; }

.sportsbook-offer h3 {
  color: #a00;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 35px; }

.sportsbook-offer p {
  font-size: 16px;
  text-align: justify;
  color: #454545;
  line-height: 23px; }

.sportsbook-offer ul {
  padding: 0; }

.sportsbook-offer li {
  list-style-type: none;
  font-size: 16px;
  color: #454545; }

.sportsbook-offer .fa {
  padding-right: 15px; }

.sportsbook-offer .offer-left p {
  padding-bottom: 25px; }

.sportsbook-features {
  background: url("../../../pages/sportsbook/sb-features-bg.jpg") no-repeat;
  padding: 60px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-position-x: 50% !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.sportsbook-features h2 {
  text-align: center;
  color: #a00;
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: uppercase; }

.sportsbook-features img {
  margin: 0 auto;
  display: block;
  width: 100%; }

.module-pointers .showcase-image {
  display: inline-block;
  position: relative;
  max-width: 100%; }

.module-pointers .blob {
  position: absolute;
  cursor: pointer; }

.module-pointers .blob-icon {
  background-color: #2ea5ed;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  position: relative; }

.module-pointers .blob-icon span {
  width: 30px;
  height: 30px;
  z-index: -1;
  position: absolute;
  top: -6px;
  left: -6px;
  background: #019dd0;
  border: #2094e9;
  border-radius: 100%;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.blob-icon:after {
  content: "+";
  font: 16px/100% Arial;
  color: #fff;
  position: absolute;
  top: 2px;
  left: -1px;
  width: 20px;
  height: 20px;
  text-align: center; }

.module-pointers {
  margin-bottom: 1.5em;
  text-align: center; }

.tooltip-text {
  visibility: hidden; }

.blob-tooltip:hover .tooltip-text {
  visibility: visible !important; }

.blob {
  position: relative;
  display: inline-block; }

.blob .tooltiptext {
  visibility: hidden;
  width: 182px;
  background-color: #019dd0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: -353%; }

.blob .tooltiptext:after {
  content: "";
  position: absolute;
  left: 77px;
  bottom: -5px;
  top: 23px;
  right: 0;
  background: #019dd0;
  width: 10px;
  transform: rotate(45deg); }

.blob:hover .tooltiptext {
  visibility: visible;
  z-index: 5; }

.jumbotron.widerpoker {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/widerpoker/widerpoker-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;
  background-position-x: 50% !important; }

.jumbotron.widerpoker .container {
  top: 50%; }

.jumbotron.widerpoker h1 {
  padding-top: 45px;
  font-size: 60px; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.widerpoker-top-content-background {
  padding: 50px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-position-x: 50% !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.widerpoker-top-content-background img {
  margin: 0 auto;
  display: block; }

.widerpoker-top-content-background img, .sportsbook-offer img {
  margin: 0 auto;
  display: block;
  width: 60%; }

.widerpoker-top-content-background h3 {
  color: #333;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
  font-size: 19px; }

.widerpoker-top-content-background p {
  color: #454545;
  padding: 0 15px;
  text-align: justify; }

.widerpoker-multidraw {
  padding: 70px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/widerpoker/widerpoker-middle-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.widerpoker-multidraw img {
  width: 100%; }

.widerpoker-multidraw h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: #189bd9;
  margin-bottom: 16px;
  text-shadow: 1px 1px 2px #333; }

.widerpoker-multidraw h3 {
  color: #454545;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 10px; }

.widerpoker-multidraw p {
  font-size: 16px;
  text-align: justify;
  color: #454545;
  line-height: 23px; }

.applicationStatus {
  padding-left: 5px; }

#applicationStatus {
  position: relative;
  width: auto;
  height: 90px;
  left: 40px; }

.applicationStatus li {
  /* Added this and moved much code to here */
  position: relative;
  height: 70px;
  background-color: #767676;
  display: inline-block;
  zoom: 1;
  padding: 8px 10px 10px 50px;
  color: white;
  font-size: 16px;
  text-align: left;
  line-height: 1.2; }

.applicationStatus img {
  width: 50px;
  position: absolute;
  left: -7px; }

li.applicationStatus:first-child:after, li.applicationStatusGood:after, li.applicationStatusNoGood:after {
  content: "";
  position: absolute;
  width: 0;
  left: 415px;
  height: 0;
  transform: rotate(180deg);
  border-top: 35px solid transparent;
  border-left: 19px solid #fff;
  border-bottom: 35px solid transparent;
  margin: -45px 0px 0 0px; }

li.applicationStatus:last-child:before, li.applicationStatusGood:before, li.applicationStatusNoGood:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 25px;
  left: -19px;
  border-top: 35px solid transparent;
  border-left: 19px solid #d0232a;
  border-bottom: 35px solid transparent;
  margin: -8px 0px 0 0px;
  transform: rotate(180deg); }

li.applicationStatus:first-child {
  padding-left: 10px;
  margin-left: 0; }

li.applicationStatus:last-child {
  padding-right: 30px; }

li.applicationStatusNoGood {
  background-color: #d0232a; }

li.applicationStatusNoGood:after {
  border-left: 15px solid transparent; }

.widerpoker-iframe {
  width: 100%;
  height: 1024px; }

.widerpoker-tutorial {
  padding: 70px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/widerpoker/widerpoker-bottom-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.widerpoker-tutorial h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px; }

.widerpoker-more-info {
  color: white;
  text-shadow: 1px 1px 2px #333; }

.widerpoker-more-info h2 {
  font-size: 40px;
  color: #189bd9;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0 30px; }

.widerpoker-more-info img {
  width: 100%;
  position: relative; }

.widerpoker-more-info .col-sm-6 {
  padding: 0;
  width: 50%; }

.widerpoker-more-info h3 {
  font-size: 40px; }

.left .text-block {
  position: absolute;
  top: 22%;
  right: 15%; }

.left .text-block p {
  padding-left: 17px; }

.right .text-block {
  position: absolute;
  top: 22%;
  left: 15%; }

.left .text-block h3 {
  padding-left: 23%; }

.left .text-block i {
  position: absolute;
  top: 28px;
  font-size: 40px;
  left: 345px; }

.right .text-block i {
  position: absolute;
  top: 28px;
  font-size: 40px;
  left: 345px; }

.widerpoker-more-info .row {
  margin: 0; }

.text-block i:hover {
  color: #189bd9; }

/*# sourceMappingURL=skin-custom.css.map */
