.jumbotron.sportsbook{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/sportsbook/sportsbook-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.jumbotron.sportsbook .container{
  top: 50%;
}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.sportsbook .image-caption h1{
  color: $tertiary-color;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0;
}

.sportsbook-top-content-background{
  background: url("../../../pages/sportsbook/sports-sb-bg.jpg") no-repeat;
  padding: 50px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-position-x: 50% !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.sportsbook-top-content-background img, .sportsbook-offer img{
  @include center;
  width: 100%;
}

.sportsbook-top-content-background h2{
  text-align: center;
  color: #a00;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 40px;
}

.sportsbook-top-content-background h3{
  color: #333;
  text-transform: uppercase;
  margin: 30px 0;
  font-size: 19px;
}

.sportsbook-top-content-background p{
  color: #454545;
  padding-bottom: 0;
}

.sportsbook-offer{
  background: #E0DEDF;
  padding: 70px 0;
}

.sportsbook-offer h2{
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 36px;
  font-size: 40px;
}

.sportsbook-offer h3{
  color: #a00;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 35px;
}

.sportsbook-offer p{
  font-size: 16px;
  text-align: justify;
  color: #454545;
  line-height: 23px;
}
.sportsbook-offer ul{
  padding: 0;
}

.sportsbook-offer li{
  list-style-type: none;
  font-size: 16px;
  color: #454545;
}

.sportsbook-offer .fa{
  padding-right: 15px;
}

.sportsbook-offer .offer-left p{
  padding-bottom: 25px;
}

.sportsbook-features{
  background: url("../../../pages/sportsbook/sb-features-bg.jpg") no-repeat;
  padding: 60px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-position-x: 50% !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.sportsbook-features h2{
  text-align: center;
  color: #a00;
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.sportsbook-features img{
  @include center;
  width: 100%;
}

.module-pointers .showcase-image {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.module-pointers .blob {
  position: absolute;
  cursor: pointer;
}

.module-pointers .blob-icon {
  background-color: #2ea5ed;
  -webkit-box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
  -moz-box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
  box-shadow: 0 0 2px rgba(255,255,255,0.4) inset;
  border: 1px solid rgba(0,0,0,0.1);
  z-index: 2;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  position: relative;
}

.module-pointers .blob-icon span {
  width: 30px;
  height: 30px;
  z-index: -1;
  position: absolute;
  top: -6px;
  left: -6px;
  background: #019dd0;
  border: #2094e9;
  border-radius: 100%;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.blob-icon:after {
  content: "+";
  font: 16px/100% Arial;
  color: #fff;
  position: absolute;
  top: 2px;
  left: -1px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.module-pointers {
  margin-bottom: 1.5em;
  text-align: center;
}

.tooltip-text{
  visibility: hidden;
}

.blob-tooltip:hover .tooltip-text{
  visibility: visible !important;
}

.blob {
  position: relative;
  display: inline-block;
}

.blob .tooltiptext {
  visibility: hidden;
  width: 182px;
  background-color: #019dd0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: -353%;
}

.blob .tooltiptext:after{
  content: "";
  position: absolute;
  left: 77px;
  bottom: -5px;
  top: 23px;
  right: 0;
  background: #019dd0;
  width: 10px;
  transform: rotate(45deg);

}


.blob:hover .tooltiptext {
  visibility: visible;
  z-index: 5;
}