.jumbotron.widerpoker{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/widerpoker/widerpoker-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;
  background-position-x: 50% !important;

}

.jumbotron.widerpoker .container{
  top: 50%;
}

.jumbotron.widerpoker h1{
   padding-top: 45px;
  font-size: 60px;
}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.widerpoker-top-content-background{
  padding: 50px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-position-x: 50% !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.widerpoker-top-content-background img{
  @include center;
}

.widerpoker-top-content-background img, .sportsbook-offer img{
  @include center;
  width: 60%;
}

.widerpoker-top-content-background h3{
  color: #333;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
  font-size: 19px;
}

.widerpoker-top-content-background p{
  color: #454545;
  padding: 0 15px;
  text-align: justify;
}

.widerpoker-multidraw{
  padding: 70px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/widerpoker/widerpoker-middle-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.widerpoker-multidraw img{
  width: 100%;
}

.widerpoker-multidraw h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: #189bd9;
  margin-bottom: 16px;
  text-shadow: 1px 1px 2px #333;
}

.widerpoker-multidraw h3{
  color: #454545;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 10px;
}

.widerpoker-multidraw p {
  font-size: 16px;
  text-align: justify;
  color: #454545;
  line-height: 23px;
}

.applicationStatus{
  padding-left: 5px;
}

#applicationStatus {
  position: relative;
  width: auto;
  height: 90px;
  left: 40px; }

.applicationStatus li { /* Added this and moved much code to here */
  position: relative;
  height: 70px;
  background-color: #767676;
  display: inline-block;
  zoom: 1;
  padding: 8px 10px 10px 50px;
  color: white;
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
}

.applicationStatus img{
  width: 50px;
  position: absolute;
  left: -7px;
}

li.applicationStatus:first-child:after, li.applicationStatusGood:after, li.applicationStatusNoGood:after {
  content: "";
  position: absolute;
  width: 0;
  left: 415px;
  height: 0;
  transform: rotate(180deg);
  border-top: 35px solid transparent;
  border-left: 19px solid #fff;
  border-bottom: 35px solid transparent;
  margin: -45px 0px 0 0px;
}



li.applicationStatus:last-child:before, li.applicationStatusGood:before, li.applicationStatusNoGood:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 25px;
  left: -19px;
  border-top: 35px solid transparent;
  border-left: 19px solid #d0232a;
  border-bottom: 35px solid transparent;
  margin: -8px 0px 0 0px;
  transform: rotate(180deg);
}

li.applicationStatus:first-child {
  padding-left: 10px;
  margin-left: 0;
}
li.applicationStatus:last-child {
  padding-right: 30px;
}

li.applicationStatusNoGood {
  background-color: #d0232a;
}

li.applicationStatusNoGood:after {
  border-left: 15px solid transparent;
}

.widerpoker-iframe{
  width: 100%;
  height: 1024px;
}

.widerpoker-tutorial{
  padding: 70px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/widerpoker/widerpoker-bottom-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.widerpoker-tutorial h2{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}

.widerpoker-more-info{
  color: white;
  text-shadow: 1px 1px 2px #333;
}

.widerpoker-more-info h2{
  font-size: 40px;
  color: #189bd9;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0 30px;
}

.widerpoker-more-info img{
  width: 100%;
  position: relative;
}

.widerpoker-more-info .col-sm-6{
  padding: 0;
  width: 50%;
}

.widerpoker-more-info h3{
  font-size: 40px;
}

.left .text-block{
  position: absolute;
  top: 22%;
  right: 15%;
}

.left .text-block p{
  padding-left: 17px;
}

.right .text-block{
   position: absolute;
  top: 22%;
  left: 15%;
 }

.left .text-block h3{
  padding-left: 23%;
}

.left .text-block i{
  position: absolute;
  top: 28px;
  font-size: 40px;
  left: 345px;
}

.right .text-block i{
  position: absolute;
  top: 28px;
  font-size: 40px;
  left: 345px;
}

.widerpoker-more-info .row{
  margin: 0;
}

.text-block i:hover{
  color: #189bd9;
}



