.jumbotron.arena-challenge{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/arena-challenge/arena-challenge-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.arena-challenge .image-caption h1{
  color: $tertiary-color;
  text-shadow: 2px 2px #000;
  padding-top: 5%;
  font-size: 60px;
}

.arena-top-content-background{
  background: #fff;
  padding: 100px 0;
}

.arena-challenge-icons{
  width: 100%;
  padding-bottom: 50px;
}

.arena-middle-content-background h2{
  text-align: center;
  text-transform: uppercase;
}

.arena-middle-content-background{
  background: url("../../../themes/bootgrav/images/arena-challenge-lines-bg.jpg");
}

.arena-letters{
  width: 100%;
  padding-top: 100px;
  display: block;
}

.arena-middle-content-background h4{
  color: #bd0c0c;
  margin-bottom: 0;
  margin-top: 15px;
}

.arena-old-new{
  padding: 250px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/arena-challenge/arenachallenge-old-new.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: $tertiary-color;
  text-shadow: 1px 1px #000;
  text-align: justify;

}

.arena-old-new h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  font-size: 40px;
}

.arena-old-new h3{
  text-transform: uppercase;
  font-size: 30px;
}

.arena-old-new img{
  display: block;
  margin: 0 auto;
}

.arena-tutorials{
  padding: 135px 0;
  background: url("../../../pages/arena-challenge/arena-tutorial-bg.jpg") no-repeat;
  background-size: cover;
  color: $tertiary-color;
  text-shadow: 1px 1px #000;

}

.arena-tutorials h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 40px;
}

.arena-tutorials .video-container{
  padding-top: 20px;
}

.arena-tutorials hr{
  margin-top: 20px;
  margin-bottom: 20px;
  //z-index: 231;
  border: 1px solid #000;
}

.arena-tutorials .video-container.top{
  text-align: center;
  margin-bottom: 40px;
}

.video-container.top iframe{
  height: 500px;
}

.video-container iframe{
  width: 100%;
  -webkit-overflow-scrolling:touch;
  overflow: auto;

}

.arena-tutorials .video-container p{
  color: #626262;
  font-size: 18px;
  text-shadow: none;
}

.arena-last-content{
  padding: 170px 0;
  background: url("../../../pages/arena-challenge/arenachallenge-network.png") no-repeat;
  background-size: cover;
  text-align: center;
  color: #626262;
  font-size: 40px;
  text-transform: uppercase;
}

.arena-last-content h2{
  margin-bottom: 80px;
}
