.jumbotron.avacspro{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/avacspro/avacspro-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.avacspro .image-caption h1{
  color: $tertiary-color;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0;
}

.avacspro-top-content-background{
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  padding-top: 130px;
  text-align: justify;
}

.avacspro-top-content-background img{
  @include center;
  width: 100%;
}

.avacspro-top-content-background h2{
  text-align: center;
  color: #454545;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.avacspro-top-content-background h3{
  color: #333;
  text-transform: uppercase;
  margin: 30px 0;
}

.avacspro-top-content-background p{
  color: #333;
  padding-bottom: 0;
}

.avacspro-graph{
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  background-size: contain;
  padding-top: 6%;
  padding-right: 3%;
  padding-bottom: 6%;
  padding-left: 3%;
}

.avacspro-graph img{
  @include center;
  width: 100%;
}

.avacspro-features h2{
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 36px;
}

.avacspro-graph h3{
  color: #1276bc;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.avacspro-graph p{
  padding-bottom: 45px;
  color: #333;
  font-size: 18px;
  text-align: justify;
  line-height: 23px;
}

.avacspro-features .features-left p{
  padding-bottom: 25px;
}