.careers-pages-content{
  margin-top: 70px;
  text-transform: capitalize;
  font-size: 50px;
}

.careers-pages-content h1, .careers-pages-content h4{
  margin: 30px 0;
}

.post-nav .prev, .post-nav .next {
  width: 47%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-nav {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  margin: 1.8em 0 1.5em;
  padding: 32px 0;
  clear: both;
}

.clearfix{
  display: block;
}

.post-nav .prev {
  float: left;
  padding-left: 1.15em;
}

.post-nav .next {
  float: right;
  text-align: right;
  padding-right: 1.15em;
}

.post-nav a {
  color: inherit;
  font-size: 16px;
  display: block;
  text-decoration: none;
  margin-top: 13px;
}

.post-nav a .fa{
  font-size: 50px;
}

.careers-pages-content .fa-angle-left{
  float: left;
}

.careers-pages-content .fa-angle-right{
  float: right;
}

.related-posts .row{
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-bottom: 5px solid #000;
}

.related-posts img{
  width: 100%;
}