.jumbotron{
  padding: 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/01.home/home-banner.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //z-index: 2;
  opacity: 0.1;
}

.pixel-overlay.banner{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //z-index: 2;
  opacity: 0.1;
}

.jumbotron .container {
  position: relative;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
}

.black.btn-primary{
  background: $primary-color;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  transition: $transition;
  background: #000;
  background-position: center right .2em;
  padding: 10px;
}

.black.btn-primary:hover{
  color: $tertiary-color;
  background: $primary-color;
}

.btn-lg.black .fa{
  padding-left: 5px;
  position: relative;
  bottom: 2px;
  left: 2px;
}

.image-caption h1{
  color: $tertiary-color;
  padding-top: 245px;
}

.bottom-banner-container{
  font-size: 21px!important;
  position: relative;
  margin-top: 18%;
  bottom: 1px;
  background-color: rgba(0,0,0, 0.35);
  color: white;
  display: block;
}

.bottom-banner-container .container{
  width: 60%;
  padding: 40px 0;
}

.middle-content-background{
  background: #eaeaea;
  padding: 100px 0;
}

.home-feature-image{
  width: 100%;
}

.home-arena-challenge-caption{
  text-align: right;
  text-transform: capitalize;
  font-size: 33px;
  padding-bottom: 60px;
}

.home-arena-challenge-caption h2{
  color: $primary-color;
  font-size: 60px;
  line-height: 62px;
  text-transform: uppercase;
}

.home-arena-challenge-caption h3{
  font-size: 33px;
  padding-bottom: 60px;
  line-height: 1.2;
}

.home-arena-challenge-caption p{
  font-size: 22px;
  font-weight: 300;
}

.image-caption p{
  color: $tertiary-color;
}

.jumbotron h1{
  padding-bottom: 45px;
  text-transform: uppercase;
  font-size: 80px;
  text-shadow: 2px 2px #000;
}

.outerholder {
  margin: 0 auto;
  float: right;
  display: inline-block;
}

.floating-box {
  float: left;
}

.outerholder .image{
  display: inline;
  vertical-align: top;
}

.floating-text{
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.floating-text .value{
  font-size: 42px;
  color: $primary-color;
  text-align: left;
}

.floating-text .description{
  margin: 0 auto 30px;
  font-size: 19px;
  color: #333;
  text-align: left;
}

.third-content-background{
  padding: 10% 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../themes/bootgrav/images/home-sb-bg.jpg") no-repeat;
  background-attachment: fixed;
  z-index: 1;
  position: relative;
}

.home-sportsbook-caption{
  text-align: left;
  text-transform: capitalize;
  font-size: 33px;
  padding-bottom: 60px;
}

.home-sportsbook-caption h2{
  color: #a00;
  font-size: 60px;
  line-height: 62px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.home-sportsbook-caption p{
  font-size: 22px;
  text-align: justify;
  font-weight: 300;
}

.home-sportsbook-caption .btn{
  float: right;
  margin-top: 60px;
  text-transform: uppercase;
}

.last-content-background{
  padding-bottom: 6%;
}

.last-content-background h2{
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 3%;
  margin-top: 10%;
}

.logo.wintech{
  background: url("../../../pages/01.home/wintech-logo.png") no-repeat;
}

.logo.betradar{
  background: url("../../../pages/01.home/betradar-logo.png") no-repeat;
}

.logo.lambda{
  background: url("../../../pages/01.home/lamda-logo.png") no-repeat;
}

.logo.apcopay{
  background: url("../../../pages/01.home/apcopay-logo.png") no-repeat;
}

.logo.unicept{
  background: url("../../../pages/01.home/unicept-logo.png") no-repeat;
}

.logo.fortune{
  background: url("../../../pages/01.home/fortune-greece.svg") no-repeat;
}

.logo.gambling{
  background: url("../../../pages/01.home/gambling-insider.svg") no-repeat;
}

.logo.igaming{
  background: url("../../../pages/01.home/igaming-business.svg") no-repeat;
}

.logo{
  background-size: 100% 138px;
  background-position: 0 0;
  width: 175px;
  min-height: 80px;
  display: block;
  margin: 0 auto;
  transition: 0.3s ease all;
}

.partner-logos{
  width: 100%;
  display: flex;
}

.feature-logos{
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.logo:hover{
  background-position: 0px -70px !important;
  transition: 0.3s ease all;
}

.logo.feature{
  -webkit-filter: grayscale(100%);
  transition: $transition;
  margin: 0 30px
}

.logo.feature:hover{
  background-position: inherit !important;
  -webkit-filter: grayscale(0);
  transition: $transition;
}

.jumbotron p{
  padding-top: 32px;
  text-shadow: 2px 2px #000;
}

.content-header{
  background: $primary-color;
  width: 525px;
  height: 75px;
  color: $tertiary-color;
}

.content-header h2{
  margin: 0 0 12px;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
}

.service-container {
  margin: 40px 0 80px 0;
}

.service-container h3 {
  font-size: 23px;
  margin: 0 90px 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid $primary-color;
  color: $secondary-color;
}

.service-container p {
  font-weight: 600;
  margin-bottom: 40px;
}

.service-container a {
  font-weight: 400;
  color: $primary-color;
  transition: all 0.5s ease;
  text-decoration: none;
}

.service-container a:hover {
  color: $secondary-color;
  @include trans-decor;
}