@media #{$large}{
  img.service-navbar{
    margin: 0 auto;
    display: -webkit-box;
    width: 40%;
  }

  img.letter-square{
    display: none;
  }

  .carousel-inner h2{
    font-size: 50px;
    margin-bottom: 20px;
  }

  .feature-logos{
    width: 72%;
  }

  .carousel-indicators img{
    width: 200px;
  }

  .carousel.slide.products {
    height: 1300px !important;
  }

  form .btn-success{
    margin-bottom: 20px;
  }


  .news-top-map-content{
    height: auto;
  }

  .news-article{
    width: 50%;
  }

  .products-image p{
    font-size: 13px;
  }
}

@media #{$mCustom} {
  .service-container{
    margin-bottom: 0;
  }

  .service-container h4{
    font-size: 30px;
    margin: 0;
    padding-top: 13px;
  }

  .about-img img{
    display: none;
  }

  .about-us-content{
    padding: 20px 0;
  }

  .carousel-indicators img{
    width: 130px;
  }

  .pagination>li>a, .pagination>li>span{
    width: 50%;
  }

  .carousel-inner h2{
    font-size: 40px;
    margin-bottom: 20px;
  }

  .carousel-inner p{
    font-size: 14px;
  }

  .carousel-inner span{
    position: relative;
    bottom: 10px;
    font-size: 16px;
  }

  .carousel-inner h3{
    font-size: 15px;
    margin-bottom: 10px;
  }

  .carousel-list li{
    font-size: 14px;
  }

  .carousel-inner h4{
    position: relative;
    bottom: 5px;
    font-size: 45px;
  }

  .web-caption h4{
    position: relative !important;
    bottom: 10px !important;
    font-size: 20px !important;
  }

  .carousel.slide.products{
    height: 1150px !important;
  }

  .web-caption h5{
    position: relative !important;
    bottom: 20px !important;
    font-size: 45px !important;
  }

  .content-products-heading h2{
    font-size: 35px;
  }

  .contact-container{
    text-align: center;
    margin-bottom: 40px;
  }

  .contact-container img{
    top: 15px;
  }

  .contact-image{
    width: 65%;
  }

  .contact-image, input.btn.btn-success.btn-send{
    @include center;
  }

  #contact-form h2, .text-muted{
    text-align: center;
  }

  .feature-logos, .partner-logos{
    display: block;
  }

  .logo.feature{
    margin-bottom: 50px;
  }

  .logo.feature{
    margin: 30px auto;
  }
}

@media #{$tablet} {
  .jumbotron h1{
    font-size: 45px;
  }

  .content-header{
    width: 320px;
    height: 45px;
  }

  .content-header h2{
    font-size: 40px;
  }

  .banner-title h1{
    font-size: 45px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    margin-top: 16px;
  }

}

@media #{$mobile} {
  .jumbotron .container {
    top: 0;
  }

  .jumbotron h1{
    top: 55px;
    font-size: 30px !important;
  }

  .arena-old-new, .jumbotron, .third-content-background, .about-us-possible, .jumbotron-products, .jumbotron.sportsbook, .sportsbook-top-content-background, .jumbotron.avacspro{
    background-size: auto !important;
  }

  .third-eye-top-content-background, .avacspro-top-content-background, .avacspro-graph{
    background: none;
  }

  .avacspro-graph .icon{
    width: 20%;
  }

  aside{
    display: none;
  }

  .news-article{
    width: 100%;
  }
}