.navbar-default{
  background: rgba(0, 0, 0, .5);
  color: $tertiary-color;
  border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: none;
  color: $primary-color;
  transition: $transition;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: $primary-color;
  transition: $transition;
  font-weight: 300;
}

.navbar-default .navbar-nav>li>a{
  text-transform: uppercase;
  font-size: 16px;
  color: $tertiary-color;
  transition: $transition;
  font-weight: 300;
  padding-right: 15px;
  font-family: 'Oswald', sans-serif !important;
}

.navbar-wrapper {
  margin-top: 0;
  position: static;
}

.navbar-wrapper .navbar{
  border-radius: 0;
  margin-top: 16px;
  padding-bottom: 16px;
}

.navbar{
  margin-bottom: 0;
}

.navbar img{
  position: relative;
  top: 8px;
  @include center;
}

.navbar-inverse{
  background: $tertiary-color;
  border: 0;
}

.navbar-inverse .navbar-nav>li>a{
  color: $secondary-color;
  font-size: 18px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: $tertiary-color;
  color: $primary-color;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: $primary-color;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $primary-color;
}

.navbar-inverse .navbar-toggle{
  border: none;
  transition: $transition;
  float: left;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background: transparent;
  opacity: 0.5;
  transition: $transition;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: $primary-color;
}


.navbar-default .navbar-toggle{
  float: left;
  margin-left: 15px;
  position: absolute;
}