.jumbotron-banner.news{
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/04.news/news-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover;
}

aside {
  position: absolute;
  width: 25%;
  right: 85px;
}

.news-side-article{
  padding-bottom: 45px;
  border-bottom: 1px solid grey;
}

.news-side-article h2{
  margin: 45px 0 25px;
  font-size: 22px;
}

.news-side-article p {
  padding-bottom: 0;
  text-align: justify;
  font-size: 13px;
  line-height: 17px;
}

.news-top-map-content .fa{
  padding-left: 10px;
}

.news-side-article .button{
  float: right;
}

.news-top-map-content{
  background-size: contain;
  background: url("../../../pages/02.about-us/about-bg-map.jpg") no-repeat;
  //height: 1770px;
  padding-top: 70px;
}

.news-top-map-content h1{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: #333;
  padding: 0 0 50px;
}

.news-article{
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 20px;
}

.news-article img{
  width: 100%;
}

.news-article h2{
  font-size: 22px;
  //text-transform: capitalize;
  text-align: center;
  border-bottom: 3px solid $primary-color;
  padding-bottom: 13px;
  width: 90%;
  margin: 21px auto 10px;
}

.news-article p{
  font-size: 13px;
  line-height: 17px;
  padding: 10px;
  margin: 0;
  text-align: justify;
}

.news-top-map-content a, .news-article a, .related-posts a{
  color: #333;
  text-decoration: none;
}

.news-top-map-content a, .news-article a, .related-posts a:hover{
  color: #333;
  text-decoration: none;
}

.news-article .date{
  display: inline-block;

}

.news-article .button{
  display: inline;
  float: right;
}