/* Variables */
/* Mixins */
/* Custom Media Queries */
/* Global Styles */
html {
  overflow: auto !important; }

body {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0; }

p {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 30px;
  padding: 0 0 1.2em;
  font-size: 18px;
  font-weight: 300; }

ul, li {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300; }

b, strong {
  color: #333; }

.navbar-default {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: #833089;
  transition: all 0.5s ease; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #833089;
  transition: all 0.5s ease;
  font-weight: 300; }

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s ease;
  font-weight: 300;
  padding-right: 15px;
  font-family: 'Oswald', sans-serif !important; }

.navbar-wrapper {
  margin-top: 0;
  position: static; }

.navbar-wrapper .navbar {
  border-radius: 0;
  margin-top: 16px;
  padding-bottom: 16px; }

.navbar {
  margin-bottom: 0; }

.navbar img {
  position: relative;
  top: 8px;
  margin: 0 auto;
  display: block; }

.navbar-inverse {
  background: #fff;
  border: 0; }

.navbar-inverse .navbar-nav > li > a {
  color: #192239;
  font-size: 18px; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: #fff;
  color: #833089; }

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #833089;
  background-color: transparent; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #833089; }

.navbar-inverse .navbar-toggle {
  border: none;
  transition: all 0.5s ease;
  float: left; }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background: transparent;
  opacity: 0.5;
  transition: all 0.5s ease; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #833089; }

.navbar-default .navbar-toggle {
  float: left;
  margin-left: 15px;
  position: absolute; }

.jumbotron.arena-challenge {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/arena-challenge/arena-challenge-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh; }

.arena-challenge .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  padding-top: 5%;
  font-size: 60px; }

.arena-top-content-background {
  background: #fff;
  padding: 100px 0; }

.arena-challenge-icons {
  width: 100%;
  padding-bottom: 50px; }

.arena-middle-content-background h2 {
  text-align: center;
  text-transform: uppercase; }

.arena-middle-content-background {
  background: url("../../../themes/bootgrav/images/arena-challenge-lines-bg.jpg"); }

.arena-letters {
  width: 100%;
  padding-top: 100px;
  display: block; }

.arena-middle-content-background h4 {
  color: #bd0c0c;
  margin-bottom: 0;
  margin-top: 15px; }

.arena-old-new {
  padding: 250px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/arena-challenge/arenachallenge-old-new.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: #fff;
  text-shadow: 1px 1px #000;
  text-align: justify; }

.arena-old-new h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  font-size: 40px; }

.arena-old-new h3 {
  text-transform: uppercase;
  font-size: 30px; }

.arena-old-new img {
  display: block;
  margin: 0 auto; }

.arena-tutorials {
  padding: 135px 0;
  background: url("../../../pages/arena-challenge/arena-tutorial-bg.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px #000; }

.arena-tutorials h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 40px; }

.arena-tutorials .video-container {
  padding-top: 20px; }

.arena-tutorials hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000; }

.arena-tutorials .video-container.top {
  text-align: center;
  margin-bottom: 40px; }

.video-container.top iframe {
  height: 500px; }

.video-container iframe {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }

.arena-tutorials .video-container p {
  color: #626262;
  font-size: 18px;
  text-shadow: none; }

.arena-last-content {
  padding: 170px 0;
  background: url("../../../pages/arena-challenge/arenachallenge-network.png") no-repeat;
  background-size: cover;
  text-align: center;
  color: #626262;
  font-size: 40px;
  text-transform: uppercase; }

.arena-last-content h2 {
  margin-bottom: 80px; }

.jumbotron.sportsbook {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/sportsbook/sportsbook-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.sportsbook .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0; }

.sportsbook-top-content-background {
  background: url("../../../pages/sportsbook/sports-sb-bg.jpg") no-repeat;
  padding: 50px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.sportsbook-top-content-background img, .sportsbook-features img {
  margin: 0 auto;
  display: block;
  width: 100%; }

.sportsbook-top-content-background h2 {
  text-align: center;
  color: #a00;
  text-transform: uppercase;
  margin-bottom: 50px; }

.sportsbook-top-content-background h3 {
  color: #333;
  text-transform: uppercase;
  margin: 30px 0; }

.sportsbook-top-content-background p {
  color: #333;
  padding-bottom: 0; }

.sportsbook-features {
  background: #E0DEDF;
  padding: 70px 0; }

.sportsbook-features h2 {
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 36px; }

.sportsbook-features h3 {
  color: #a00;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 9px; }

.sportsbook-features p {
  padding-bottom: 45px;
  font-size: 18px;
  text-align: justify;
  line-height: 23px; }

.sportsbook-features .features-left p {
  padding-bottom: 25px; }

.jumbotron.avacspro {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/avacspro/avacspro-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.avacspro .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0; }

.avacspro-top-content-background {
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  padding-top: 130px;
  text-align: justify; }

.avacspro-top-content-background img {
  margin: 0 auto;
  display: block;
  width: 100%; }

.avacspro-top-content-background h2 {
  text-align: center;
  color: #454545;
  text-transform: uppercase;
  margin-bottom: 100px; }

.avacspro-top-content-background h3 {
  color: #333;
  text-transform: uppercase;
  margin: 30px 0; }

.avacspro-top-content-background p {
  color: #333;
  padding-bottom: 0; }

.avacspro-graph {
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  background-size: contain;
  padding-top: 6%;
  padding-right: 3%;
  padding-bottom: 6%;
  padding-left: 3%; }

.avacspro-graph img {
  margin: 0 auto;
  display: block;
  width: 100%; }

.avacspro-features h2 {
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 36px; }

.avacspro-graph h3 {
  color: #1276bc;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0; }

.avacspro-graph p {
  padding-bottom: 45px;
  color: #333;
  font-size: 18px;
  text-align: justify;
  line-height: 23px; }

.avacspro-features .features-left p {
  padding-bottom: 25px; }

.jumbotron.thirdeye {
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/3rd-eye/3rd-eye-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.thirdeye .image-caption {
  padding-top: 0; }

.thirdeye .image-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 80px; }

.third-eye-top-content-background {
  background: url("../../../pages/avacspro/avacspro-bg-silver.jpg");
  background-size: contain;
  padding-top: 130px;
  text-align: justify; }

.third-eye-top-content-background h2 {
  text-transform: capitalize; }

.third-eye-top-content-background img {
  width: 100%; }

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/01.home/home-banner.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.pixel-overlay.banner {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.jumbotron .container {
  position: relative;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center; }

.black.btn-primary {
  background: #833089;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  transition: all 0.5s ease;
  background: #000;
  background-position: center right .2em;
  padding: 10px; }

.black.btn-primary:hover {
  color: #fff;
  background: #833089; }

.btn-lg.black .fa {
  padding-left: 5px;
  position: relative;
  bottom: 2px;
  left: 2px; }

.image-caption h1 {
  color: #fff;
  padding-top: 245px; }

.bottom-banner-container {
  font-size: 21px !important;
  position: relative;
  margin-top: 18%;
  bottom: 1px;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  display: block; }

.bottom-banner-container .container {
  width: 60%;
  padding: 40px 0; }

.middle-content-background {
  background: #eaeaea;
  padding: 100px 0; }

.home-feature-image {
  width: 100%; }

.home-arena-challenge-caption {
  text-align: right;
  text-transform: capitalize;
  font-size: 33px;
  padding-bottom: 60px; }

.home-arena-challenge-caption h2 {
  color: #833089;
  font-size: 60px;
  line-height: 62px;
  text-transform: uppercase; }

.home-arena-challenge-caption h3 {
  font-size: 33px;
  padding-bottom: 60px;
  line-height: 1.2; }

.home-arena-challenge-caption p {
  font-size: 22px;
  font-weight: 300; }

.image-caption p {
  color: #fff; }

.jumbotron h1 {
  padding-bottom: 45px;
  text-transform: uppercase;
  font-size: 80px;
  text-shadow: 2px 2px #000; }

.outerholder {
  margin: 0 auto;
  float: right;
  display: inline-block; }

.floating-box {
  float: left; }

.outerholder .image {
  display: inline;
  vertical-align: top; }

.floating-text {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 20px; }

.floating-text .value {
  font-size: 42px;
  color: #833089;
  text-align: left; }

.floating-text .description {
  margin: 0 auto 30px;
  font-size: 19px;
  color: #333;
  text-align: left; }

.third-content-background {
  padding: 10% 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../themes/bootgrav/images/home-sb-bg.jpg") no-repeat;
  background-attachment: fixed;
  z-index: 1;
  position: relative; }

.home-sportsbook-caption {
  text-align: left;
  text-transform: capitalize;
  font-size: 33px;
  padding-bottom: 60px; }

.home-sportsbook-caption h2 {
  color: #a00;
  font-size: 60px;
  line-height: 62px;
  margin-bottom: 60px;
  text-transform: uppercase; }

.home-sportsbook-caption p {
  font-size: 22px;
  text-align: justify;
  font-weight: 300; }

.home-sportsbook-caption .btn {
  float: right;
  margin-top: 60px;
  text-transform: uppercase; }

.last-content-background {
  padding-bottom: 6%; }

.last-content-background h2 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 3%;
  margin-top: 10%; }

.logo.wintech {
  background: url("../../../pages/01.home/wintech-logo.png") no-repeat; }

.logo.betradar {
  background: url("../../../pages/01.home/betradar-logo.png") no-repeat; }

.logo.lambda {
  background: url("../../../pages/01.home/lamda-logo.png") no-repeat; }

.logo.apcopay {
  background: url("../../../pages/01.home/apcopay-logo.png") no-repeat; }

.logo.unicept {
  background: url("../../../pages/01.home/unicept-logo.png") no-repeat; }

.logo.fortune {
  background: url("../../../pages/01.home/fortune-greece.svg") no-repeat; }

.logo.gambling {
  background: url("../../../pages/01.home/gambling-insider.svg") no-repeat; }

.logo.igaming {
  background: url("../../../pages/01.home/igaming-business.svg") no-repeat; }

.logo {
  background-size: 100% 138px;
  background-position: 0 0;
  width: 175px;
  min-height: 80px;
  display: block;
  margin: 0 auto;
  transition: 0.3s ease all; }

.partner-logos {
  width: 100%;
  display: flex; }

.feature-logos {
  width: 60%;
  margin: 0 auto;
  display: flex; }

.logo:hover {
  background-position: 0px -70px !important;
  transition: 0.3s ease all; }

.logo.feature {
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease;
  margin: 0 30px; }

.logo.feature:hover {
  background-position: inherit !important;
  -webkit-filter: grayscale(0);
  transition: all 0.5s ease; }

.jumbotron p {
  padding-top: 32px;
  text-shadow: 2px 2px #000; }

.content-header {
  background: #833089;
  width: 525px;
  height: 75px;
  color: #fff; }

.content-header h2 {
  margin: 0 0 12px;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase; }

.service-container {
  margin: 40px 0 80px 0; }

.service-container h3 {
  font-size: 23px;
  margin: 0 90px 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #833089;
  color: #192239; }

.service-container p {
  font-weight: 600;
  margin-bottom: 40px; }

.service-container a {
  font-weight: 400;
  color: #833089;
  transition: all 0.5s ease;
  text-decoration: none; }

.service-container a:hover {
  color: #192239;
  transition: all 0.5s ease;
  text-decoration: none; }

.jumbotron-banner.about {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/02.about-us/about-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover; }

.pixel-overlay {
  background: url("../../../themes/bootgrav/images/pattern.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1; }

.about-top-map-content {
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/02.about-us/about-bg-map.jpg") no-repeat;
  background-attachment: fixed; }

.about-us-content h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: #333;
  padding: 0 0 50px;
  margin-top: 0; }

.about-us-excitment {
  background: #833089;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #fff; }

.about-us-fusion {
  padding-top: 3%;
  padding-bottom: 3%; }

.about-us-excitment h2, .about-us-fusion h2, .about-us-possible h2, .about-us-certifications h2, .about-us-financial h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 30px; }

.about-us-content {
  padding: 70px 0; }

.about-us-possible {
  padding: 100px 0;
  background: url("../../../pages/02.about-us/about-us-bg-bottom.jpg") no-repeat;
  background-size: cover !important;
  background-attachment: fixed;
  color: #fff;
  margin-bottom: 0;
  text-shadow: 1px 1px #000;
  position: relative; }

.about-us-possible h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase; }

.about-us-possible h4 {
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline; }

.about-us-certifications {
  margin-bottom: 0;
  padding: 50px 0;
  background-size: cover;
  background: url("../../../pages/02.about-us/about-bg-bottom-map.jpg") no-repeat;
  background-position: center top; }

.about-us-financial {
  padding: 50px 0; }

.about-us-financial img {
  position: relative;
  bottom: 13px; }

.jumbotron-products {
  padding: 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-size: 100% 675px !important;
  background: url("../../../pages/03.products/products-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center; }

.jumbotron-products h1 {
  text-align: center;
  padding-top: 270px;
  padding-bottom: 67px;
  text-transform: uppercase;
  font-size: 51px; }

.jumbotron-products p {
  font-size: 17px;
  font-weight: 300; }

.products-masonary {
  padding-bottom: 200px; }

.products-image {
  width: 100%;
  height: 290px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.products-image.arenachallenge {
  background: center url("../../../pages/03.products/products-arenachallenge.jpg") no-repeat; }

.products-image.sportsbook {
  background: center url("../../../pages/03.products/products-sportsbook.jpg") no-repeat; }

.products-image.thirdeye {
  background: center url("../../../pages/03.products/products-thirdeye.jpg") no-repeat; }

.products-image.avacs {
  background: center url("../../../pages/03.products/products-avacs.jpg") no-repeat; }

.products-image.widerpoker {
  background: center url("../../../pages/03.products/products-widerpoker.jpg") no-repeat; }

.products-image.arenachallenge {
  width: 100%;
  height: 290px;
  background: center url("http://arenacube.com/wp-content/uploads/2015/12/ProductsHomeChallengeLeft2.jpg") no-repeat;
  position: relative; }

.container.products {
  width: 100%; }

.products-masonary .col-md-5, .col-md-offset-3.col-md-6 {
  padding: 0; }

.products-content {
  padding: 25px 0; }

.jumbotron-banner.news {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/04.news/news-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover; }

aside {
  position: absolute;
  width: 25%;
  right: 85px; }

.news-side-article {
  padding-bottom: 45px;
  border-bottom: 1px solid grey; }

.news-side-article h2 {
  margin: 45px 0 25px;
  font-size: 22px; }

.news-side-article p {
  padding-bottom: 0;
  text-align: justify;
  font-size: 13px;
  line-height: 17px; }

.news-top-map-content .fa {
  padding-left: 10px; }

.news-side-article .button {
  float: right; }

.news-top-map-content {
  background-size: contain;
  background: url("../../../pages/02.about-us/about-bg-map.jpg") no-repeat;
  padding-top: 70px; }

.news-top-map-content h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: #333;
  padding: 0 0 50px; }

.news-article {
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 20px; }

.news-article img {
  width: 100%; }

.news-article h2 {
  font-size: 22px;
  text-align: center;
  border-bottom: 3px solid #833089;
  padding-bottom: 13px;
  width: 90%;
  margin: 21px auto 10px; }

.news-article p {
  font-size: 13px;
  line-height: 17px;
  padding: 10px;
  margin: 0;
  text-align: justify; }

.news-top-map-content a, .news-article a, .related-posts a {
  color: #333;
  text-decoration: none; }

.news-top-map-content a, .news-article a, .related-posts a:hover {
  color: #333;
  text-decoration: none; }

.news-article .date {
  display: inline-block; }

.news-article .button {
  display: inline;
  float: right; }

.news-content {
  margin-top: 70px;
  font-size: 50px; }

.post-nav .prev, .post-nav .next {
  width: 47%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.post-nav {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  margin: 1.8em 0 1.5em;
  padding: 32px 0;
  clear: both; }

.clearfix {
  display: block; }

.post-nav .prev {
  float: left;
  padding-left: 1.15em; }

.post-nav .next {
  float: right;
  text-align: right;
  padding-right: 1.15em; }

.post-nav a {
  color: inherit;
  font-size: 16px;
  display: block;
  text-decoration: none;
  margin-top: 13px; }

.post-nav a .fa {
  font-size: 50px; }

.news-content .fa-angle-left {
  float: left; }

.news-content .fa-angle-right {
  float: right; }

.related-posts .row {
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-bottom: 5px solid #000; }

.related-posts img {
  width: 100%; }

.jumbotron-banner.careers {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/05.careers/careers-banner.jpg") no-repeat;
  height: 270px;
  background-size: cover; }

.careers-content {
  padding: 70px 0;
  margin-top: 0; }

.careers-content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  color: #333;
  margin-bottom: 30px; }

.careers-content h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 26px; }

.careers-content img {
  width: 100%; }

.careers-content p {
  float: right; }

.careers-content a {
  color: #333; }

.careers-content .fa {
  padding-left: 10px; }

.careers-pages-content {
  margin-top: 70px;
  text-transform: capitalize;
  font-size: 50px; }

.careers-pages-content h1, .careers-pages-content h4 {
  margin: 30px 0; }

.post-nav .prev, .post-nav .next {
  width: 47%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.post-nav {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  margin: 1.8em 0 1.5em;
  padding: 32px 0;
  clear: both; }

.clearfix {
  display: block; }

.post-nav .prev {
  float: left;
  padding-left: 1.15em; }

.post-nav .next {
  float: right;
  text-align: right;
  padding-right: 1.15em; }

.post-nav a {
  color: inherit;
  font-size: 16px;
  display: block;
  text-decoration: none;
  margin-top: 13px; }

.post-nav a .fa {
  font-size: 50px; }

.careers-pages-content .fa-angle-left {
  float: left; }

.careers-pages-content .fa-angle-right {
  float: right; }

.related-posts .row {
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-bottom: 5px solid #000; }

.related-posts img {
  width: 100%; }

.jumbotron-banner.contact {
  padding: 0;
  margin: -20 0 0 0;
  background: center url("../../../pages/06.contact/contact-banner.jpg") no-repeat;
  height: 327px;
  background-size: cover; }

.contact-content {
  padding: 70px 0;
  background: center url("../../../pages/06.contact/contact-background.jpg") no-repeat;
  background-size: cover !important;
  background-attachment: fixed; }

.contact-content .image-wrap img {
  width: 100%; }

.contact-content .col-md-4 {
  padding: 0; }

.contact-content .image-title, .contact-content .image-caption {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000; }

.contact-content .image-title {
  top: 0;
  text-transform: uppercase;
  font-weight: 300; }

.contact-content .image-caption {
  bottom: 200px; }

.contact-content .image-caption p {
  font-size: 11px;
  padding: 0; }

.contact-content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  color: #333;
  margin-bottom: 100px; }

#contact-form form {
  font-family: Roboto Condensed, sans-serif; }

#contact-form .button, input, select, textarea {
  width: 50%;
  margin-bottom: 15px;
  border: 1px solid grey; }

#contact-form textarea {
  width: 60%;
  height: 135px; }

#contact-form .black.btn-primary {
  margin-bottom: 40px; }

.careers-content p {
  float: right; }

.careers-content .fa {
  padding-left: 10px; }

.thank-you-message {
  margin-top: 7%; }

/* Variables */
/* Mixins */
/* Custom Media Queries */
/* Global Styles */
html {
  overflow: auto !important; }

body {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0; }

p {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 30px;
  padding: 0 0 1.2em;
  font-size: 18px;
  font-weight: 300; }

ul, li {
  font-family: "Roboto Condensed", sans-serif !important;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300; }

b, strong {
  color: #333; }

/* PRE FOOTER Section */
.footer-widgets {
  padding-top: 40px;
  padding-bottom: 20px; }

.footer-widgets h4 {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300; }

.footer-logo {
  width: 70%; }

.footer-widgets img {
  margin: 0 auto;
  display: block; }

.footer-widgets .form {
  text-align: center; }

.footer-widgets .newsletter-email {
  width: 50%;
  margin: 40px auto; }

img.go-footer {
  display: inline-block;
  margin: 0 auto;
  transition: all 0.5s ease; }

img.go-footer:hover {
  opacity: 0.5;
  transition: all 0.5s ease; }

.footer-widgets li {
  display: inline;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-family: Roboto Condensed, sans-serif;
  list-style-type: none;
  font-weight: 100;
  padding: 0px 4px; }

.footer-widgets li a {
  color: #fff;
  transition: all 0.5s ease;
  text-decoration: none; }

.footer-widgets li a:hover {
  color: #833089;
  transition: all 0.5s ease; }

footer ul {
  margin-top: 40px;
  padding-left: 0;
  text-align: center; }

.social-container {
  text-align: center; }

ul.footer-social-icons {
  padding-left: 0; }

.footer-social-icons li {
  font-size: 27px;
  padding-right: 18px;
  display: inline-block;
  float: inherit; }

.footer-social-icons li a {
  color: white;
  transition: all 0.5s ease; }

.fa {
  transition: all 0.5s ease; }

.fa-facebook:hover {
  color: #3b5998; }

.fa-twitter:hover {
  color: #0084b4; }

.fa-google-plus:hover {
  color: #d34836; }

.fa-youtube:hover {
  color: #bb0000; }

.fa-linkedin:hover {
  color: #0e76a8; }

.footer-header {
  background: #833089;
  height: 145px; }

.service-container h4 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 45px;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 1.5px;
  text-align: center; }

.footer-header p {
  border-bottom: 1px solid #333;
  text-align: right;
  font-size: 21px;
  padding-right: 21px; }

.footer-header a {
  color: #333;
  transition: all 0.5s ease; }

.footer-header a:hover {
  color: #fff;
  transition: all 0.5s ease;
  text-decoration: none; }

/* Footer Section */
footer {
  background: black; }

@media (max-width: 1200px) {
  img.service-navbar {
    margin: 0 auto;
    display: -webkit-box;
    width: 40%; }

  img.letter-square {
    display: none; }

  .carousel-inner h2 {
    font-size: 50px;
    margin-bottom: 20px; }

  .feature-logos {
    width: 72%; }

  .carousel-indicators img {
    width: 200px; }

  .carousel.slide.products {
    height: 1300px !important; }

  form .btn-success {
    margin-bottom: 20px; }

  .news-top-map-content {
    height: auto; }

  .news-article {
    width: 50%; }

  .products-image p {
    font-size: 13px; } }
@media (max-width: 992px) {
  .service-container {
    margin-bottom: 0; }

  .service-container h4 {
    font-size: 30px;
    margin: 0;
    padding-top: 13px; }

  .about-img img {
    display: none; }

  .about-us-content {
    padding: 20px 0; }

  .carousel-indicators img {
    width: 130px; }

  .pagination > li > a, .pagination > li > span {
    width: 50%; }

  .carousel-inner h2 {
    font-size: 40px;
    margin-bottom: 20px; }

  .carousel-inner p {
    font-size: 14px; }

  .carousel-inner span {
    position: relative;
    bottom: 10px;
    font-size: 16px; }

  .carousel-inner h3 {
    font-size: 15px;
    margin-bottom: 10px; }

  .carousel-list li {
    font-size: 14px; }

  .carousel-inner h4 {
    position: relative;
    bottom: 5px;
    font-size: 45px; }

  .web-caption h4 {
    position: relative !important;
    bottom: 10px !important;
    font-size: 20px !important; }

  .carousel.slide.products {
    height: 1150px !important; }

  .web-caption h5 {
    position: relative !important;
    bottom: 20px !important;
    font-size: 45px !important; }

  .content-products-heading h2 {
    font-size: 35px; }

  .contact-container {
    text-align: center;
    margin-bottom: 40px; }

  .contact-container img {
    top: 15px; }

  .contact-image {
    width: 65%; }

  .contact-image, input.btn.btn-success.btn-send {
    margin: 0 auto;
    display: block; }

  #contact-form h2, .text-muted {
    text-align: center; }

  .feature-logos, .partner-logos {
    display: block; }

  .logo.feature {
    margin-bottom: 50px; }

  .logo.feature {
    margin: 30px auto; } }
@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 45px; }

  .content-header {
    width: 320px;
    height: 45px; }

  .content-header h2 {
    font-size: 40px; }

  .banner-title h1 {
    font-size: 45px; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 16px; } }
@media (max-width: 480px) {
  .jumbotron .container {
    top: 0; }

  .jumbotron h1 {
    top: 55px;
    font-size: 30px !important; }

  .arena-old-new, .jumbotron, .third-content-background, .about-us-possible, .jumbotron-products, .jumbotron.sportsbook, .sportsbook-top-content-background, .jumbotron.avacspro {
    background-size: auto !important; }

  .third-eye-top-content-background, .avacspro-top-content-background, .avacspro-graph {
    background: none; }

  .avacspro-graph .icon {
    width: 20%; }

  aside {
    display: none; }

  .news-article {
    width: 100%; } }

/*# sourceMappingURL=skin-custom.css.map */
