.jumbotron.sportsbook{
  padding: 200px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background: url("../../../pages/sportsbook/sportsbook-bg.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;

}

.pixel-overlay{
  background: url("../../../themes/bootgrav/images/pattern.png");
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.sportsbook .image-caption h1{
  color: $tertiary-color;
  text-shadow: 2px 2px #000;
  font-size: 60px;
  padding-top: 0;
}

.sportsbook-top-content-background{
  background: url("../../../pages/sportsbook/sports-sb-bg.jpg") no-repeat;
  padding: 50px 0;
  margin-bottom: 0;
  background-size: cover !important;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.sportsbook-top-content-background img, .sportsbook-features img{
  @include center;
  width: 100%;
}

.sportsbook-top-content-background h2{
  text-align: center;
  color: #a00;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.sportsbook-top-content-background h3{
  color: #333;
  text-transform: uppercase;
  margin: 30px 0;
}

.sportsbook-top-content-background p{
  color: #333;
  padding-bottom: 0;
}

.sportsbook-features{
  background: #E0DEDF;
  padding: 70px 0;
}

.sportsbook-features h2{
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 36px;
}

.sportsbook-features h3{
  color: #a00;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 9px;
}

.sportsbook-features p{
  padding-bottom: 45px;
  font-size: 18px;
  text-align: justify;
  line-height: 23px;
}

.sportsbook-features .features-left p{
  padding-bottom: 25px;
}


