{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron arena-challenge" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <img src="{{ page.media['arena-challenge-logo.png'].url }}">
                <h1>{{ page.header.arenachallenge_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="arena-top-content-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img class="arena-challenge-icons" src="{{ page.media['arena-challenge-icons.jpg'].url }}">
                    {% for arenachallenge_first_content in page.header.arenachallenge_first_contents %}
                        <p>{{ arenachallenge_first_content.text }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>

    <div class="arena-middle-content-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="inner-text">
                        <h2>{{ page.header.arenachallenge_second_content_heading }}</h2>
                        <div class="col-sm-6">
                            <img class="arena-letters" src="{{ page.media['arena-challenge-letters.png'].url }}">
                        </div>
                        <div class="col-sm-6">
                            {% for arenachallenge_second_content in page.header.arenachallenge_second_contents %}
                                <h4>{{ arenachallenge_second_content.title }}</h4>
                                <p>{{ arenachallenge_second_content.text }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="arena-old-new" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page.header.how_it_works.heading }}</h2>
                </div>
                <div class="col-sm-4">
                    <h3>{{ page.header.how_it_works.the_old.title }}</h3>
                    <p>{{ page.header.how_it_works.the_old.text }}</p>
                </div>
                <div class="col-sm-4">
                    <img class="" src="{{ page.media['vs.png'].url }}">
                </div>
                <div class="col-sm-4">
                    <h3 style="text-align: right">{{ page.header.how_it_works.the_new.title }}</h3>
                    <p>{{ page.header.how_it_works.the_new.text }}</p>
                </div>
            </div>
        </div>
    </div>

<div class="arena-tutorials">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ page.header.arena_challenge_tutorial.heading }}</h2>
            </div>
            <div class="col-sm-12">
              <div class="video-container top">
                  <iframe src="{{ page.header.arena_challenge_tutorial.iframe }}" frameborder="0" scrolling="auto"></iframe>
              </div>
            </div>

            <hr>

            {% for video in page.header.youtube_video %}
            <div class="col-sm-6">
                <div class="video-container">
                    <iframe width="500" height="281" src="{{ video.iframe }}" allowtransparency="true" frameborder="0" allowfullscreen=""></iframe>
                    <p>{{ video.caption }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="arena-last-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ page.header.arenachallenge_networks_heading }}</h2>
            </div>
            <div class="partner-logos">
                {% for arenachallenge_network in page.header.arenachallenge_networks %}
                <div class="col-md-4">
                    <div class="network-logo">
                        <img src="{{ page.media[arenachallenge_network.image].url }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

