{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron avacspro" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <img src="{{ page.media['avacspro-bg-logo.png'].url }}">
                <h1>{{ page.header.avacspro_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="avacspro-top-content-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>The most advanced back-office administration</h2>
                </div>
                <div class="col-sm-5">
                    {% for avacspro_content in page.header.avacspro_contents %}
                    <p>{{ avacspro_content.text }}</p>
                    {% endfor %}
                </div>
                <div class="col-sm-7">
                    <img src="{{ page.media['avacspro-page.png'].url }}">
                </div>
            </div>
        </div>
    </div>

    <div class="avacspro-graph">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ page.media['avacspro-logo.png'].url }}">
                </div>
                <div class="col-sm-12">
                    <img src="{{ page.media['avacspro-graph.png'].url }}">
                </div>

                {% for avacspro_feature in page.header.avacspro_features %}
                <div class="col-sm-4">
                    <img class="icon" src="{{ page.media[avacspro_feature.image].url }}">
                    <h3>{{ avacspro_feature.title }}</h3>
                    <p>{{ avacspro_feature.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

