{% extends 'partials/base.html.twig' %}

{% block content %}
    {# Main Content #}
<div class="careers-pages-content" data-stellar-background-ratio="0.4">
    <div class="container">
        <h1>{{ page.header.careers.heading }}</h1>

            <h4>{{ page.header.careers.list_title.first }}</h4>
            <ul>
                {% for content in page.header.careers_content %}
                <li>{{ content.text }}</li>
                {% endfor %}
            </ul>

            <h4>{{ page.header.careers.list_title.second }}</h4>
            <ul>
                {% for content in page.header.careers_content_second %}
                    <li>{{ content.text }}</li>
                {% endfor %}
            </ul>

            <h4>{{ page.header.careers.list_title.third }}</h4>
            <ul>
                {% for content in page.header.careers_content_third %}
                    <li>{{ content.text }}</li>
                {% endfor %}
            </ul>

        <h4>{{ page.header.careers.list_title.fourth }}</h4>
        <ul>
            {% for content in page.header.careers_content_fourth %}
                <li>{{ content.text }}</li>
            {% endfor %}
        </ul>


        <div class="post-nav clearfix">
            <a href="{{ page.header.careers.link }}"><i class="fa fa-angle-left"></i></a><span class="prev"><a href="{{ page.header.careers.link }}" rel="prev"><span class="arrow"></span>{{ page.header.careers.related_link }}</a></span>
        </div>

        <div class="related-posts">
            <h2>{{ page.header.news.subheading }}</h2>
            <div class="row">
                {% for posts in page.header.related_posts %}
                <div class="col-sm-4">
                    <a href="{{ posts.link }}"><img src="{{ page.media[posts.image].url }}">
                    <h3>{{ posts.title }}</h3></a>
                    <p>{{ posts.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

