{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron-banner contact">
        <div class="pixel-overlay banner"></div>
    </div>
{% endblock %}
{% block content %}
    {# Main Content #}
<div class="contact-content" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.header.contact.heading }}</h1>
            </div>

            {% for contact in page.header.contact_area %}
            <div class="col-md-4">
                <div class="image-wrap">
                    <img src="{{ page.media[contact.image].url }}">
                    <div class="image-content">
                        <h3 class="image-title">{{ contact.title }}</h3>
                        <div class="image-caption">
                            <p>{{ contact.address }}</p>
                        </div>
                    </div>
                    <iframe src="{{ contact.map }}" width="100%" height="200px" draggable="false" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            {% endfor %}

            <div class="col-md-12">
                <p>{{ page.header.contact_details.line_1 }}</p>
                <p>{{ page.header.contact_details.line_2 }}</p>
                    <div id="contact-form">
                        {% include "forms/form.html.twig" %}
                    </div>
                <p>{{ page.header.contact_details.line_3 }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

