{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <h1>{{ page.header.home_banner.header_top }}</h1>
            </div>
        </div>
        <div class="bottom-banner-container">
            <div class="container">
                <p>{{ page.header.home_banner.header_bottom }}</p>
                <a class="btn btn-primary btn-lg black" href="{{ page.header.home_banner.link }}" role="button">{{ page.header.home_banner.button }}<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="middle-content-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <img class="home-feature-image" src="{{ page.media['arena-challenge-1.png'].url }}">
                </div>
                <div class="col-sm-4">
                    <div class="home-arena-challenge-caption">
                        <h2>{{ page.header.home_arena_challenge_caption.title }}</h2>
                        <h3>{{ page.header.home_arena_challenge_caption.sub_title }}</h3>
                        <p>{{ page.header.home_arena_challenge_caption.description }}</p>
                        <a class="btn btn-primary btn-lg black" href="{{ page.header.home_arena_challenge_caption.link }}" role="button">{{ page.header.home_banner.button }}<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="outerholder">
                            {% for arena_challenge_feature in page.header.arena_challenge_features %}
                            <div class="floating-box">
                                <div class="image">
                                    <img class="image" src="{{ page.media[arena_challenge_feature.image].url }}">
                                </div>
                                <div class="floating-text">
                                    <div class="value">
                                        {{ arena_challenge_feature.title }}
                                    </div>
                                    <div class="description">
                                        {{ arena_challenge_feature.description }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="third-content-background" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="home-sportsbook-caption">
                        <h2>{{ page.header.home_sportsbook_caption.title }}</h2>
                        <p>{{ page.header.home_sportsbook_caption.description }}</p>
                        <a class="btn btn-primary btn-lg black" href="{{ page.header.home_sportsbook_caption.link }}" role="button">{{ page.header.home_sportsbook_caption.button }}<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <img class="home-feature-image" src="{{ page.media['sb-homepage.png'].url }}">
                </div>
            </div>
        </div>
    </div>

<div class="last-content-background">
    <div class="container">
        <div class="row">
                <h2>{{ page.header.partners.title }}</h2>
            <div class="partner-logos">
                <div class="logo wintech"></div>
                <div class="logo betradar"></div>
                <div class="logo lambda"></div>
                <div class="logo apcopay"></div>
                <div class="logo unicept"></div>
            </div>
                <h2>{{ page.header.featured.title }}</h2>
            <div class="feature-logos">
                <a href="{{ page.header.featured.link_one }}" target="_blank"><div class="logo feature gambling"></div></a>
                <a href=""><div class="logo feature igaming"></div></a>
                <a href="{{ page.header.featured.link_two }}" target="_blank"><div class="logo feature fortune"></div></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

