{% extends 'partials/base.html.twig' %}

{% block content %}
    {# Main Content #}
<div class="news-content" data-stellar-background-ratio="0.4">
    <div class="container">
        <h1>{{ page.header.news.heading }}</h1>
        {% for paragraph in page.header.news_paragraph %}
            <p>{{ paragraph.text }}</p>
        {% endfor %}

        <div class="post-nav clearfix">
            <i class="fa fa-angle-left"></i><span class="prev"><a href="{{ page.header.news.link }}" rel="prev"><span class="arrow"></span>{{ page.header.news.related_link }}</a></span>
        </div>

        <div class="related-posts">
            <h2>{{ page.header.news.subheading }}</h2>
            <div class="row">
                {% for posts in page.header.related_posts %}
                <div class="col-sm-4">
                    <a href="{{ posts.link }}"><img src="{{ page.media[posts.image].url }}">
                    <h3>{{ posts.title }}</h3></a>
                    <p>{{ posts.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

