{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron-products" data-stellar-background-ratio="0.4" >
        <div class="container">
            <div class="image-caption">
                <h1>{{ page.header.products.heading }}</h1>
                <p>{{ page.header.products.subheading }}</p>
            </div>
            <div class="products-masonary">
                <div class="container products">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                            <div class="products-image arenachallenge">
                                <div class="products-content">
                                    {% for first_product in page.header.first_products %}
                                    <img src="{{ page.media[first_product.image].url }}">
                                    <h3>{{ first_product.title }}</h3>
                                    <p>{{ first_product.text }}</p>
                                    <a class="btn btn-primary btn-lg black" href="{{ first_product.link }}" role="button">{{ first_product.button }}<i class="fa fa-angle-right"></i></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="products-image sportsbook">
                                <div class="products-content">
                                    {% for second_product in page.header.second_products %}
                                        <img src="{{ page.media[second_product.image].url }}">
                                        <h3>{{ second_product.title }}</h3>
                                        <p>{{ second_product.text }}</p>
                                        <a class="btn btn-primary btn-lg black" href="{{ second_product.link }}" role="button">{{ second_product.button }}<i class="fa fa-angle-right"></i></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                            <div class="products-image thirdeye">
                                <div class="products-content">
                                    {% for third_product in page.header.third_products %}
                                        <img src="{{ page.media[third_product.image].url }}">
                                        <h3>{{ third_product.title }}</h3>
                                        <p>{{ third_product.text }}</p>
                                        <a class="btn btn-primary btn-lg black" href="{{ third_product.link }}" role="button">{{ third_product.button }}<i class="fa fa-angle-right"></i></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="products-image avacs">
                                <div class="products-content">
                                    {% for fourth_product in page.header.fourth_products %}
                                        <img src="{{ page.media[fourth_product.image].url }}">
                                        <h3>{{ fourth_product.title }}</h3>
                                        <p>{{ fourth_product.text }}</p>
                                        <a class="btn btn-primary btn-lg black" href="{{ fourth_product.link }}" role="button">{{ fourth_product.button }}<i class="fa fa-angle-right"></i></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <div class="products-image widerpoker">
                                <div class="products-content">
                                    {% for fifth_product in page.header.fifth_products %}
                                        <img src="{{ page.media[fifth_product.image].url }}">
                                        <h3>{{ fifth_product.title }}</h3>
                                        <p>{{ fifth_product.text }}</p>
                                        <a class="btn btn-primary btn-lg black" href="{{ first_product.link }}" role="button">{{ fifth_product.button }}<i class="fa fa-angle-right"></i></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}



