{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron sportsbook" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <img src="{{ page.media['sportsbook-logo-bg.png'].url }}">
                <h1>{{ page.header.sportsbook_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="sportsbook-top-content-background" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page.header.sportsbook_first_contents_heading }}</h2>
                </div>

                <div class="col-sm-6">
                    {% for sportsbook_first_content in page.header.sportsbook_first_contents %}
                    <h3>{{ sportsbook_first_content.title }}</h3>
                    <p>{{ sportsbook_first_content.par_1 }}</p>
                    <p>{{ sportsbook_first_content.par_2 }}</p>
                    <p>{{ sportsbook_first_content.par_3 }}</p>
                    {% endfor %}
                </div>

                <div class="col-sm-6">
                    <img src="{{ page.media['sb-sbpage.png'].url }}">
                </div>
            </div>
        </div>
    </div>

    <div class="sportsbook-features">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page.header.sportsbook_feautres_heading }}</h2>
                </div>
                <div class="col-sm-6">
                    <div class="features-left">
                        {% for sportsbook_left_feautre in page.header.sportsbook_left_feautres %}
                        <h3>{{ sportsbook_left_feautre.title }}</h3>
                        <p>{{ sportsbook_left_feautre.text }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="features-right">
                        {% for sportsbook_right_feautre in page.header.sportsbook_right_feautres %}
                        <h3>{{ sportsbook_right_feautre.title }}</h3>
                        <p>{{ sportsbook_right_feautre.text }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="features-inner-container">
                        <img src="{{ page.media['sp-page-laptop.png'].url }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

