{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron-banner news">
        <div class="pixel-overlay banner"></div>
    </div>
{% endblock %}
{% block content %}
    {# Main Content #}
<div class="careers-content" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.header.terms.heading }}</h1>
            {% for paragraph in page.header.terms_contents %}
                <p>{{ paragraph.text }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

