{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron thirdeye" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <img src="{{ page.media['3rd-eye-bg-logo.png'].url }}">
                <h1>{{ page.header.thirdeye_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="third-eye-top-content-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page.header.thirdeye_content.title }}</h2>
                </div>
                <div class="col-sm-5">
                    <p>{{ page.header.thirdeye_content.text_1 }}</p>
                    <p>{{ page.header.thirdeye_content.text_2 }}</p>
                    <p>{{ page.header.thirdeye_content.text_3 }}</p>
                    <ul>
                        <li>{{ page.header.thirdeye_content.list_1 }}</li>
                        <li>Discovering trends that will enhance the marketing strategy and will lead to greater market share.</li>
                        <li>Improving the company’s financials by receiving better insights of the organization financial data and status.</li>
                    </ul>
                    <p>{{ page.header.thirdeye_content.text_4 }}</p>
                </div>
                <div class="col-sm-7">
                    <img src="{{ page.media['3rd-eye-page.png'].url }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

