{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron-banner about">
        <div class="pixel-overlay banner"></div>
    </div>
{% endblock %}
{% block content %}
    {# Main Content #}
<div class="about-top-map-content" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ page.header.about.first_heading }}</h1>
                    <p>{{ page.header.about.para_1 }}</p>
                    <p>{{ page.header.about.para_2 }}</p>
                    <p>{{ page.header.about.para_3 }}</p>
                    <p>{{ page.header.about.para_4 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-us-excitment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ page.header.about.second_heading }}</h2>
                <p>{{ page.header.about.text }}</p>
            </div>
        </div>
    </div>
</div>

<div class="about-us-fusion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ page.header.about.third_heading }}</h2>
                <p>{{ page.header.about.para_7 }}</p>
                <p>{{ page.header.about.para_8 }}</p>
                <p>{{ page.header.about.para_9 }}</p>
            </div>
        </div>
    </div>
</div>

<div class="about-us-possible" data-stellar-background-ratio="0.4">
    <div class="pixel-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ page.header.about.fourth_heading }}</h2>
                {% for about_arenacube_possibility in page.header.about_arenacube_possibilities %}
                <div class="col-md-6">
                    <h3>{{ about_arenacube_possibility.title }}</h3>
                    <h4>{{ about_arenacube_possibility.first_subheading }}</h4>
                    <p>{{ about_arenacube_possibility.first_text }}</p>

                    <h4>{{ about_arenacube_possibility.second_subheading }}</h4>
                    <p>{{ about_arenacube_possibility.second_text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="about-us-certifications">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ page.header.about.fifth_heading }}</h2>
                <p>{{ page.header.about.para_10 }}</p>
                <h2>{{ page.header.financial.title }}</h2>
                <p style="text-align: center">{{ page.header.financial.text }}<a href="{{ page.media['ArenacubeBalanceSheet.pdf'].url }}" target="_blank"><img src="{{ page.media['pdf.png'].url }}"></a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

