{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron arena-challenge" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <img src="{{ page.media['arena-challenge-logo.png'].url }}">
                <h1>{{ page.header.arenachallenge_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="arena-top-content-background" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="row">
                <h2>{{ page.header.arenachallenge_top_content.heading }}</h2>
                <h3>{{ page.header.arenachallenge_top_content.subheading }}</h3>

                {% for content in page.header.arenachallenge_first_contents %}
                <div class="col-md-6">
                    <p>{{ content.text_top }}</p>
                    <p>{{ content.text_bottom }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <video autoplay id="bgvid" loop>
        <source src="{{ page.media["arenachallenge-video-bg.mp4"].url }}" type="video/mp4">
    </video>


    <div class="arena-features" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="row">
            {% for content in page.header.arenachallenge_features_top %}
                <div class="col-md-4">
                    <img src="{{ page.media[content.image].url }}">
                    <h3>{{ content.title }}</h3>
                    <p>{{ content.text }}</p>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                {% for content in page.header.arenachallenge_features_bottom %}
                    <div class="col-md-4">
                        <img src="{{ page.media[content.image].url }}">
                        <h3>{{ content.title }}</h3>
                        <p>{{ content.text }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="arena-features-list">
                <div class="row">
                 {% for content in page.header.arenachallenge_features_list %}
                    <div class="col-md-4">
                        <ul>
                            <li><img src="{{ page.media['ac_bullet.png'].url }}">{{ content.text_first }}</li>
                            <li><img src="{{ page.media['ac_bullet.png'].url }}">{{ content.text_second }}</li>
                            <li><img src="{{ page.media['ac_bullet.png'].url }}">{{ content.text_third }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="arena-tutorials">
        <img class="page-curl" src="{{ page.media['ac_page-curl.jpg'].url }}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>{{ page.header.arenachallenge_tutorial_content.heading }}</h2>
                    </div>

                {% for content in page.header.arenachallenge_tutorial %}
                  <div class="col-md-3">
                      <a href="{{ content.link }}" target="_blank"><img src="{{ page.media[content.image].url }}"></a>
                      <p>{{ content.text }}</p>
                  </div>
                {% endfor %}

                </div>
                <a class="btn btn-primary btn-lg black" href="{{ page.header.arenachallenge_tutorial_content.link }}" target="_blank">{{ page.header.arenachallenge_tutorial_content.button }}<i class="fa fa-angle-right"></i></a>
            </div>
        </div>

{% endblock %}