{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron-banner careers">
        <div class="pixel-overlay banner"></div>
    </div>
{% endblock %}
{% block content %}
    {# Main Content #}
<div class="careers-content" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.header.careers.heading }}</h1>
                <p>{{ page.header.careers.para_1 }}</p>
                <p>{{ page.header.careers.para_2 }}</p>
            </div>
            {% for career in page.header.careers_container %}
            <div class="col-md-6">
                <a href="{{ career.link }}"><h2>{{ career.title }}</h2>
                <img src="{{ page.media[career.image].url }}"></a>
                <a href="{{ career.link }}"><p>{{ career.button }}<i class="fa fa-angle-right"></i></p></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

