{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
	<div class="error-box">
		<div class="text-center">
		{% if (page.header.http_response_code == 404) %}
			<h1>{{ page.content }}</h1>

			<div class="follow-me">
				<a class="btn btn-success" href="home">{{ page.header.button_text }}</a>
			</div>

		{% else %}
			<h1>Error {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
		{% endif %}

		</div>
	</div>
</div>
{% endblock %}
