{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron gaming-platform">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <h1>{{ page.header.avacspro_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="develop-to-innovate">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Developed To Innovate</h2>
                    {% for avacspro_content in page.header.avacspro_contents %}
                    <p>{{ avacspro_content.text }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="website">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Website</h2>
                </div>
                <div class="col-md-6">
                    <img src="{{ page.media['gaming_sites.png'].url }}">
                </div>
                <div class="col-md-6">
                    <p>Our website engine as part of our Gaming Platform comes with a powerful Content Management System (CMS) and gives full flexibility to administer content in the easiest way possible.</p>
                    <ul>
                        <li>CUSTOMISABLE INTERFACE PER LANGUAGE REQUEST</li>
                        <li>FULLY MANAGED WITH DEDICATED CMS</li>
                        <li>SEO FEATURES</li>
                        <li>CUSTOM PROMO PAGES</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="powerfull-back-office">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Powerfull Back-Office</h2>
                </div>

                <div class="col-md-6">
                    <p>A smart, powerful and easy-to-use Back Office that provides key data and a vast array of features in an intuitive user interface to easily track your whole business anywhere, anytime.</p>
                    <ul>
                        <li>GAME MANAGEMENT</li>
                        <li>AFFILIATES MANAGEMENT & MONITORING</li>
                        <li>PLAYER MANAGEMENT & SUPPORT</li>
                        <li>WALLETS MANAGEMENT</li>
                        <li>MONITORING & RISK-MANAGEMENT</li>
                        <li>PROMO CAMPAIGN MGMT & TRACKING</li>
                        <li>POWERFUL ANALYTICS & REPORTING</li>
                    </ul>
                    <p>A full suite that will help with the day-to-day running of your operation that will maximize your business volume and definitely will minimize the risk exposure.</p>
                </div>

                <div class="col-sm-6">
                    <img src="{{ page.media['avacspro-page.png'].url }}">
                </div>
            </div>
        </div>
    </div>

    <div class="business-intelligence">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Business Intelligence</h2>
                    <p>A reliable resource for all your strategic decisions with easy-to-use interface that ensures simplicity and serves your daily requirements.</p>
                    <div class="col-sm-6">
                        <ul>
                            <li>REVENUE REPORTS</li>
                            <li>GAMING STATISTICS</li>
                            <li>DETAILED PRODUCT STATISTICS</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>CUSTOMISED DASHBOARDS</li>
                            <li>IN-DEPTH ANALYTICS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gaming-module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Gaming Module</h2>
                    <p>Our gaming module offers a selection of the top products in the market and takes care all game integrations. Currently we offer Casino, Live Casino and Virtual Sports games from our partner companies available as plug and play content at your disposal. Additionally, your own or a 3rd part content can be integrated in no time, offering the flexibility of a one-stop solution for all your requirements</p>
                    <div class="casino-logos">
                        <div class="casino-logo betgamestv"></div>
                        <div class="casino-logo one-two"></div>
                        <div class="casino-logo betsoft"></div>
                        <div class="casino-logo endorphina"></div>
                        <div class="casino-logo evolution"></div>
                        <div class="casino-logo ezugi"></div>
                        <div class="casino-logo gameart"></div>
                        <div class="casino-logo netent"></div>
                        <div class="casino-logo worldmatch"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="payment-gateway">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Payment gateway</h2>
                    <p>Through Payment Gateway, any available 3rd party payment system can be incorporated with our Platform. Currently over 10 payment systems are already integrated. Apart from that, any new local payment option on the market can be added at any time you wish.</p>
                        <div class="first-row text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="payment-logo visa"></div>
                                    <div class="payment-logo mastercard"></div>
                                    <div class="payment-logo skrill"></div>
                                    <div class="payment-logo neteller"></div>
                                    <div class="payment-logo paysafe"></div>
                                    <div class="payment-logo trustly"></div>
                                    <div class="payment-logo arena-wallet"></div>

                                </div>
                            </div>
                        </div>
                    <div class="second-row text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="payment-logo sofort"></div>
                                <div class="payment-logo apcopay-1"></div>
                                <div class="payment-logo astropay"></div>
                                <div class="payment-logo ecopayz"></div>
                                <div class="payment-logo ukash"></div>
                                <div class="payment-logo purplepay"></div>
                                <div class="payment-logo bank-transfer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

