{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron-banner news">
        <div class="pixel-overlay banner"></div>
    </div>
{% endblock %}
{% block content %}
    {# Main Content #}
<div class="news-top-map-content">
    <div class="container">
        <h1>{{ page.header.news.heading }}</h1>
        <aside>
            {% for news in page.header.news_feed %}
            <div class="news-side-article">
                <a href="{{ news.link }}"><h2>{{ news.title }}</h2></a>
                <p>{{ news.date }}</p>
                <p>{{ news.text }}</p>
                <div class="button">
                    <a href="{{ news.link }}"><p>{{ news.button }}<i class="fa fa-angle-right"></i></p></a>
                </div>
            </div>
            {% endfor %}
        </aside>

        <div class="row">
            {% for main_news in page.header.main_news_feed_first %}
            <div class="col-lg-4">
                <div class="news-article">
                    <a href="{{ main_news.link }}"><img src="{{ page.media[main_news.image].url }}">
                    <h2>{{ main_news.title }}</h2></a>
                    <p>{{ main_news.text }}</p>
                    <div class="date">
                        <p>{{ main_news.date }}</p>
                    </div>
                    <div class="button">
                        <a href="{{ main_news.link }}"><p>{{ main_news.button }}<i class="fa fa-angle-right"></i></p></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for main_news in page.header.main_news_feed_second %}
                <div class="col-lg-4">
                    <div class="news-article">
                        <a href="{{ main_news.link }}"><img src="{{ page.media[main_news.image].url }}">
                        <h2>{{ main_news.title }}</h2></a>
                        <p>{{ main_news.text }}</p>
                        <div class="date">
                            <p>{{ main_news.date }}</p>
                        </div>
                        <div class="button">
                            <a href="{{ main_news.link }}"><p>{{ main_news.button }}<i class="fa fa-angle-right"></i></p></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for main_news in page.header.main_news_feed_third %}
                <div class="col-lg-4">
                    <div class="news-article">
                        <a href="{{ main_news.link }}"><img src="{{ page.media[main_news.image].url }}">
                        <h2>{{ main_news.title }}</h2></a>
                        <p>{{ main_news.text }}</p>
                        <div class="date">
                            <p>{{ main_news.date }}</p>
                        </div>
                        <div class="button">
                            <a href="{{ main_news.link }}"><p>{{ main_news.button }}<i class="fa fa-angle-right"></i></p></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

