{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron sportsbook" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <img src="{{ page.media['sportsbook-logo-bg.png'].url }}">
                <h1>{{ page.header.sportsbook_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="sportsbook-top-content-background" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page.header.sportsbook_first_contents_heading }}</h2>
                </div>

                <div class="col-sm-6">
                    {% for sportsbook_first_content in page.header.sportsbook_first_contents %}
                    <h3>{{ sportsbook_first_content.title }}</h3>
                    <p>{{ sportsbook_first_content.par_1 }}</p>
                        <br>
                    <p>{{ sportsbook_first_content.par_2 }}</p>
                        <br>
                    <p>{{ sportsbook_first_content.par_3 }}</p>
                    {% endfor %}
                </div>

                <div class="col-sm-6">
                    <img src="{{ page.media['sb-sbpage.png'].url }}">
                </div>
            </div>
        </div>
    </div>

    <div class="sportsbook-offer">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>We Offer</h2>
                </div>
                <div class="col-sm-6">
                    <div class="features-left">
                        <h3>Smart & UX Orientated Design</h3>
                        <p>A flatter graphical interface that uses light objects, bold colors and subtile shadows create a sleek visual experience.</p>
                            <ul>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Google's material design framework</li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Well thought-out interface</li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Unified user experience across all devices and screen sizes</li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Easy navigation</li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Higher user engagement</li>
                            </ul>
                        <h3>Tablet & Mobile</h3>
                        <p>Our mobile sportsbook blends the experience across all devices and screen sizes as it is fully compatible will all smartphones and tablet devices, and supports every desktop feature.</p>
                        <h3>It's all about the feed</h3>
                        <p>One of the best market-leading data feed provider is integrated to power the odds offering.</p>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Import of multiple external odds feeds</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Manual odds management and feed override</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Fine grained odds feed override</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Custom bookmaker margins</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Handle multiple odds feeds</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="features-right">
                        <h3>Full Trading System</h3>
                        <p>Through our trading tool bookmakers can extensicely boost their betting operation.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Real time bet monitoring</li>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Trader profiles</li>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Customizable bets limits</li>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Early cashout</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Coupon reservation</li>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Comprehensive trading tools</li>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Easiest trading panel</li>
                                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Detailed reporting of all your business</li>
                                </ul>
                            </div>
                        </div>
                        <h3>Unparalleled risk management</h3>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Detailed monitoring of every action</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Risk analysis and management</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Advanced automation through leading data feeds for creation, pricing, and settlement</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Detailed reporting of all your business</li>
                        </ul>
                        <h3>Rich in-play experience</h3>
                        <p>Users will have the opportunity to experience sports betting at its best with the in-play pitch.<br><br>It enables your customers to follow attack visualisation and all the on-pitch action via icons and overlays, including positional data and match events like goals, goal kicks, shots on goal, blocked shots, corners and many more.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sportsbook-features" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
            <div class="container">
                <div class="col-sm-12">
                    <h2>Features</h2>
                    <div class="module module-pointers">
                        <div class="showcase-image">
                            <img src="{{ page.media['sb-page-laptop.png'].url }}">

                            <div class="blob"  style="top: 11%; left: 30.7%;">
                                <span class="tooltiptext">Pre-Match / In-Play Betting</span>
                                <div class="blob-icon">
                                </div>
                            </div>

                            <div class="blob" style="top: 23%; left: 19.4%;">
                                <span class="tooltiptext">Daily Coupon</span>
                                <div class="blob-icon" style="display: block;">
                                </div>
                            </div>

                            <div class="blob" style="top: 23%; left: 24.8%;">
                                <span class="tooltiptext">Featured Events</span>
                                <div class="blob-icon" style="display: block;">
                                </div>
                            </div>

                            <div class="blob" style="top: 23%; left: 30.3%;">
                                <span class="tooltiptext">Favourites</span>
                                <div class="blob-icon" style="display: block;">
                                </div>
                            </div>

                            <div class="blob" style="top: 23%; left: 36.3%;">
                                <span class="tooltiptext">Search</span>
                                <div class="blob-icon" style="display: block;">
                                </div>
                            </div>

                            <div class="blob" style="top: 27%; left: 22.8%;">
                                <span class="tooltiptext">Sports filters</span>
                                <div class="blob-icon" style="display: block;">
                                </div>
                            </div>

                            <div class="blob" style="top: 27%; left: 22.8%;">
                                <span class="tooltiptext">Sports filters</span>
                                <div class="blob-icon" style="display: block;">
                                </div>
                            </div>

                            <div class="blob" style="top: 46.7%; left: 24.8%;">
                                <span class="tooltiptext">1-Click bets</span>
                                <div class="blob-icon" style="display: block;">
                                </div>
                            </div>

                            <div class="blob" style="top: 17%; left: 82%;">
                                <span class="tooltiptext">Your Placed Bets & Bets History</span>
                                <div class="blob-icon">
                                </div>
                            </div>

                            <div class="blob" style="top: 33%; left: 84%;">
                                <span class="tooltiptext">Your Coupon</span>
                                <div class="blob-icon">
                                </div>
                            </div>

                            <div class="blob" style="top: 30%; left: 58%;">
                                <span class="tooltiptext">Live streaming & Feeds</span>
                                <div class="blob-icon">
                                </div>
                            </div>

                            <div class="blob" style="top: 70%; left: 67.6%;">
                                <span class="tooltiptext">Scrollable sliders</span>
                                <div class="blob-icon">
                                </div>
                            </div>

                            <div class="blob" style="top: 72.5%; left: 52.5%;">
                                <span class="tooltiptext">In=Play Betting</span>
                                <div class="blob-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

