{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="thank-you-message">
          {{ content }}
        </div>
      </div>
    </div>
{% endblock %}
