{% extends 'partials/base.html.twig' %}

{% block banner %}
    {# Top Banner #}
    <div class="jumbotron widerpoker" data-stellar-background-ratio="0.4">
        <div class="pixel-overlay"></div>
        <div class="container">
            <div class="image-caption">
                <img src="{{ page.media['widerpoker-logo-bg.png'].url }}">
                <h1>{{ page.header.sportsbook_banner.heading }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# Main Content #}
    <div class="widerpoker-top-content-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ page.media['wp1.png'].url }}">
                    <h3>A Wider Number of Players</h3>
                    <p>Up to <b>100,000</b> players can play simultaneously in each hand, leading to impressive prize pools</p>
                </div>

                <div class="col-sm-4">
                    <img src="{{ page.media['wp2.png'].url }}">
                    <h3>Numerous strategic decisions</h3>
                    <p>The wide range of game situations and the extended number of players allow <b>endless tactics & strategic decisions.</b></p>
                </div>

                <div class="col-sm-4">
                    <img src="{{ page.media['wp3.png'].url }}">
                    <h3>A Wider range of table variants</h3>
                    <p>Table variants that differ in <b>game speed, participation fee,</b> and <b>prize pool</b> distribution to satisfy all players' tastes.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="widerpoker-multidraw" data-stellar-background-ratio="0.4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Widerpoker Multidraw:</h2>
                        <h3>The 1st in a series of multiplayer video poker games</h3>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ page.media['wp-laptop.png'].url }}">
                    </div>
                    <div class="col-md-6">
                        <div id="applicationStatus">
                            <ul class="applicationStatus">
                               <li class="applicationStatusNoGood"><img src="{{ page.media['mulidraw-bullet-1.png'].url }}">A Massively multiplayer online game thar generates<br>huge pots and increase the player's winnings<br> exponetially while keeping their bets low.</li>
                            </ul>
                        </div>
                        <div id="applicationStatus">
                            <ul class="applicationStatus">
                                <li class="applicationStatusNoGood"><img src="{{ page.media['mulidraw-bullet-2.png'].url }}">The real-time probability board allows<br>players to evaluate their poker hand<br>and make strategic decisions at a glance.</li>
                            </ul>
                        </div>
                        <div id="applicationStatus">
                            <ul class="applicationStatus">
                                <li class="applicationStatusNoGood"><img src="{{ page.media['mulidraw-bullet-3.png'].url }}">The game tips offers players<br>suggestions for quick<br>and easy gameplay.</li>
                            </ul>
                        </div>
                        <div id="applicationStatus">
                            <ul class="applicationStatus">
                                <li class="applicationStatusNoGood"><img src="{{ page.media['mulidraw-bullet-4.png'].url }}">Players can balance their risk and improve<br>their chances of winning by performing<br>up to 5 different draws.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <iframe class="widerpoker-iframe" src="{{ page.media['intro_en.html'].url }}"></iframe>


    <div class="widerpoker-more-info" data-stellar-background-ratio="0.4">
        <div class="row">
            <div class="col-sm-12">
                <h2>More Information on wider poker</h2>
            </div>
            <div class="background left col-sm-6">
                <img src="{{ page.media['wp-footer-left.jpg'].url }}">
                    <div class="text-block">
                    <h3>WiderPoker help</h3>
                    <p>Get information on the game and the rules</p>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="background right col-sm-6">
                <img src="{{ page.media['wp-footer-right.jpg'].url }}">
                <div class="text-block">
                    <h3>www.widerpoker.com</h3>
                    <p>Offical web site for the game</p>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

