<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if header.description %}
            <meta name="description" content="{{ header.description }}">
        {% else %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
            <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/ico" href="{{ theme_url }}/images/favicon.ico">

        <title>{% if header.title %}{{ header.title }}{% endif %}{{ site.title }}</title>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {# Bootstrap core CSS #}
            {% do assets.add('theme://css/bootstrap.min.css',101) %}
            {% do assets.add('theme://css/carousel.css',101) %}

            {# Custom styles for this theme #}
            {% do assets.add('theme://css/bootstrap-custom.css',100) %}
            {% do assets.add('theme://css/font-awesome.min.css',100) %}
            {% do assets.add('theme://scss/skin-custom.css',100) %}

            {{ assets.css() }}
        {% endblock %}

        {% block javascripts %}
            {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}
            {% do assets.add('theme://js/bootstrap.js') %}
            {% do assets.add('theme://js/jquery.nicescroll.js') %}
            {% do assets.add('theme://js/jquery.stellar.js') %}
            {% do assets.add('theme://js/script.js') %}

            {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
                {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
                {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
            {% endif %}

            {{ assets.js() }}
        {% endblock %}

    {% endblock head %}
</head>

<body>

{% include 'partials/navigation.html.twig' %}


<div class="top-banner">
    {% block banner %}{% endblock %}
</div>

{#<div class="container marketing">#}
    {% block content %}{% endblock %}
{#</div>#}

{# include the _footer content #}


{# include the _footer content #}
<footer>
{% include 'partials/footer.html.twig' %}
</footer>

</body>
{% block bottom %}{% endblock %}
</html>