<div class="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>{{ site.footer.title.subscribe }}</h4>
                <div class="form">
                    <input class="newsletter-email" type="email" required="" name="ne" value="Email" onclick="if (this.defaultValue==this.value) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue">
                    <a href=""><img class="go-footer" src="{{ theme_url }}/images/go-footer.png" alt=""></a>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{{ base_url == '' ? '/' : base_url }}"><img class="footer-logo" src="{{ theme_url }}/images/arenacube-logo.png" alt=""></a>
                <div class="footer-support">
                    <ul>
                        {% for module in site.footer.support %}
                            <li><a href="{{ module.link }}">{{ module.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        <div class="col-sm-4">
            <h4>{{ site.footer.title.follow }}</h4>
                <div class="social-container">
                    <ul class="footer-social-icons">
                        {% for module in site.footer.social %}
                            <li><a href="{{ module.link }}" target="_blank"><i class="{{ module.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>