<div class="row">
    <div class="col-md-6">
        <h4>{{ site.prefooter.heading }}</h4>
    </div>
    <div class="col-md-3 col-md-offset-2">
        <p><a href="contact-us.html">{{ site.prefooter.text }}</a></p>
    </div>
</div>