<div class="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>{{ site.footer.title.subscribe }}</h4>
                {#<div class="form">#}
                    {#<input class="newsletter-email" type="email" required="" name="ne" value="Email" onclick="if (this.defaultValue==this.value) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue">#}
                    {#<a href=""><img class="go-footer" src="{{ theme_url }}/images/go-footer.png" alt=""></a>#}
                {#</div>#}
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{clear:left; font-size:14px; }
                </style>
                <div id="mc_embed_signup">
                    <form action="//arenacube.us13.list-manage.com/subscribe/post?u=aaf4d7226b437fd5644e572ef&amp;id=01aa9b7048" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                            <div class="mc-field-group">
                                {#<label for="mce-EMAIL">Email Address#}
                                {#</label>#}
                                <input type="email" value="" name="EMAIL" placeholder="Enter your email address here" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aaf4d7226b437fd5644e572ef_01aa9b7048" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>
            <div class="col-sm-4">
                <a href="{{ base_url == '' ? '/' : base_url }}"><img class="footer-logo" src="{{ theme_url }}/images/arenacube-logo.png" alt=""></a>
                <div class="footer-support">
                    <ul>
                        {% for module in site.footer.support %}
                            <li><a href="{{ module.link }}">{{ module.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        <div class="col-sm-4">
            <h4>{{ site.footer.title.follow }}</h4>
                <div class="social-container">
                    <ul class="footer-social-icons">
                        {% for module in site.footer.social %}
                            <li><a href="{{ module.link }}" target="_blank"><i class="{{ module.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>