<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ base_url == '' ? '/' : base_url }}"><img src="{{ theme_url }}/images/arenacube-logo.png" alt=""></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% for page in pages.children %}
                            {% if page.visible %}
                                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                                <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>